<link rel="stylesheet" href="/static/app/admin-panel/modules/deals/add/add.deal.css" />

<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    Add Deal!
                </h1>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
    <div class="panel-body">
        <form ng-submit="addDeal(deal)">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="deal_name">Name</label>
                        <input type="text" class="form-control input-sm" id="deal_name"
                               placeholder="Deal Name" ng-model="deal.name">
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="text" class="form-control input-sm" id="url"
                               placeholder="URL" ng-model="deal.url">
                    </div>
                    <div class="form-group">
                        <label for="destination_url">Destination URL</label>
                        <input type="text" class="form-control input-sm" id="destination_url"
                               placeholder="Destination URL" ng-model="deal.destination_url">
                    </div>
                    <div class="form-group">
                        <label for="deal_description">Description</label>
                        <textarea ng-click="textEditor($event)" class="form-control input-sm" id="deal_description"
                                  placeholder="Description" ng-model="deal.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deal_images">Images</label>
                        <input type="file" id="deal_images" ng-model="deal.images" multiple base-sixty-four-input>
                        <div id="dealimage" class="image-multi"></div>
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label for="breadcrumbs">BreadCrumbs</label>
                        <input type="text" class="form-control input-sm" id="breadcrumbs" placeholder="BreadCrumbs">
                    </div>
                    <div class="form-group">
                        <label for="actual_price">Actual Price</label>
                        <input type="text" class="form-control input-sm" id="actual_price" placeholder="Actual Price">
                    </div>
                    <div class="form-group">
                        <label for="discounted_price">Discounted Price</label>
                        <input type="text" class="form-control input-sm" id="discounted_price" placeholder="Discounted Price"
                               ng-model="deal.discount_price">
                    </div>
                    <div class="form-group">
                        <label for="deal_rating">Rating</label>
                        <input type="number" class="form-control input-sm" id="deal_rating" placeholder="Rating"
                               ng-model="deal.rating">
                    </div>
                </div><!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label>Deal Brand</label>
                        <ui-select multiple ng-model="deal.deal_brands" theme="bootstrap" close-on-select="false"  title="Category">
                            <ui-select-match placeholder="Deal Brands">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in brands | propsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Deal Category</label>
                        <ui-select multiple ng-model="deal.deal_category" theme="bootstrap" close-on-select="false"  title="Category">
                            <ui-select-match placeholder="Category">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in categories | propsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label>Deal Store</label>
                        <ui-select ng-model="deal.store" theme="bootstrap">
                            <ui-select-match placeholder="Select Store">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in stores | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group" ng-init="store.featured_deal = true">
                        <label>Featured Deal</label> <br>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="true" name="store.featured_deal"
                                   data-ng-model="store.featured_deal">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="false" name="store.featured_deal" data-ng-model="store.featured_deal">No
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="expiry_date">Expiry Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control input-sm"
                                   uib-datepicker-popup ng-model="deal.expired_date"
                                   is-open="popup2.expiry_date" ng-required="true"
                                   close-text="Close" id="expiry_date" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="popup2.expiry_date = !popup2.expiry_date"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="h1">H1</label>
                        <input type="text" class="form-control input-sm" id="h1" placeholder="H1"
                               ng-model="deal.h1">
                    </div>
                    <div class="form-group">
                        <label for="h2">H2</label>
                        <input type="text" class="form-control input-sm" id="h2" placeholder="H2"
                               ng-model="deal.h2">
                    </div>
                    <div class="form-group">
                        <label for="h1">SEO Title</label>
                        <input type="text" class="form-control input-sm" id="seo_title" placeholder="SEO Title"
                               ng-model="deal.seo_title">
                    </div>


                </div> <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="seo_description">SEO Description</label>
                        <textarea ng-click="textEditor($event)" class="form-control input-sm" id="seo_description" placeholder="SEO Description"
                                  ng-model="deal.seo_description"></textarea>
                    </div>
                    <div class="form-group" ng-init="deal.status = true">
                        <label>Status</label> <br />
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="true" name="deal.status" data-ng-model="deal.status">Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="false" name="deal.status" data-ng-model="deal.status">Pending
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="top_banner">Top Banner</label>
                        <input type="file" id="top_banner" ng-model="deal.top_banner" multiple base-sixty-four-input>
                        <div id="topbanner" class="image-multi"></div>
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>Related Deals</label>
                        <ui-select multiple ng-model="deal.related_deals" theme="bootstrap" close-on-select="false"  title="Related Deal">
                            <ui-select-match placeholder="Related Deals">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in deals | propsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group" ng-init="deal.upcoming = true">
                        <label>Upcoming</label> <br />
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="true" name="deal.upcoming" data-ng-model="deal.upcoming">Yes</label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="false" name="deal.upcoming" data-ng-model="deal.upcoming">No</label>
                    </div>
                    <div class="form-group">
                        <label for="top_banner">Side Banner</label>
                        <input type="file" id="side_banner" ng-model="deal.side_banner" multiple base-sixty-four-input>
                        <div id="sideBanner" class="image-multi"></div>
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <button type="submit" class="btn btn-info btn-md">Add deal</button>
        </form>
        <br><br><br><br><br><br>
    </div> <!-- end panel-body -->
</div>