@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: OpenSans-ExtraLight;
    src: url('../fonts/OpenSans-ExtraLight.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Medium;
    src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

body {
    background-color: #f3f3f3;
    font-family: OpenSans-regular;
    margin: 0 auto !important;
    overflow-x: hidden;
}

h2,
h3,
h4 {
    font-family: OpenSans-Regular;
}

.margin-20 {
    margin: 20px 0;
}

.margin-top-0 {
    margin-top: 0;
}

.pad-left-0 {
    padding-left: 0;
}

.pad-right-0 {
    padding-right: 0;
}

.font-bold {
    font-weight: bold;
}

.icon-addon {
    position: relative;
}

.icon-addon label {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #a09f9f;
}

.breadcrumb {
    background-color: inherit !important;
}

.border-0 {
    border: 0px solid #FFFFFF;
}

.social-icons i {
    background-color: #000000;
    color: #FFFFFF;
    min-width: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 32px;
    padding: 5px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.top-store-ul {
    display: none;
}


/* for styled checkboxes and radio buttons */

.checkbox label,
.radio label {
    padding-left: 0 !important;
    min-height: 25px !important;
    line-height: 20px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .7em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(2) rotateZ(-10deg);
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .3;
}


/* enf of styled checkboxes and radio buttons */


/* check-box-filter-area */

.check-box-filter-area {
    max-height: 200px;
    overflow: hidden;
}

.check-box-filter-area:hover {
    overflow-x: hidden;
    overflow-y: scroll;
}


/* /check-box-filter-area */


/* adding fade to body */


/* adding fade to body */


/* ---- spinner ---- */

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #7e70a1;
    position: absolute;
    margin: 0 auto;
    left: 48%;
    top: 50%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/* ---- spinner ---- */

.on-mobile {
    display: none;
}