<link rel="stylesheet" href="static/app/customer-panel/modules/header/header.css" />

<nav class="navbar navbar-icon navbar-default header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main.home">
                <img src="static/app/customer-panel/modules/assets/images/logo-png.png" alt="" class="img-responsive">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-header-ul">
                <li>
                    <a ui-sref="main.home">
                        <b>Coupons</b>
                    </a>
                </li>
                <li>
                    <a ui-sref="main.all_deals">
                        <b>Deals</b>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group" style="width: 75%;">
                    <input type="text" ng-model="customPopupSelected" placeholder="Search Stores, Categories or Coupons"
                           uib-typeahead="address for address in searchResults($viewValue)"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                           typeahead-popup-template-url="static/app/customer-panel/modules/header/typeahead.template.html"
                           class="flipkart-navbar-input" style="width: 100%;" typeahead-on-select="goClick($item, $model, $label)">
                </div>
                <button class="btn btn-md btn-primary search-btn">
                    Search
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" class="btn btn-md btn-default header-login-btn">
                        Login
                    </a>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle-o"></i>
                        Account <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<div class="container pad-0" style="position: relative;">
    <nav class="navbar navbar-default bottom-header" role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header headerbar_pad">
            <div class="row">
                <div class="navbar-brand hidden-md hidden-lg col-xs-10">
                    <div class="flipkart-navbar-search col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 search_bar pad-right-0">
                                <input type="text" ng-model="customPopupSelected"
                                       placeholder="Search Stores/Coupons"
                                       uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}"
                                       typeahead-popup-template-url="static/app/customer-panel/modules/header/typeahead.template.html"
                                       class="flipkart-navbar-input col-xs-9"/>
                                <button class="search-navbar-button col-xs-2">
                                    <span class="on-desktop">Search</span>
                                    <span class="on-mobile">
                                            <i class="fa fa-search"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle top_stories" data-toggle="dropdown">
                        Top Stores <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu top-store-ul">
                        <div class="row">
                            <div class="col-lg-4" ng-if="item.menu == 'top'" ng-repeat="item in featuredStores | limitTo: 15">
                                <li><a ui-sref="main.store-info({url: item.url})">{{ item.name }}</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li><a href="">Recharge Offers</a></li>
                <li><a href="">Food Offers</a></li>
                <li><a href="">Travel Offers</a></li>
                <li><a href="">Fashion Offers</a></li>
                <li><a href="">Bank Offers</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Exchange Offers <b class="caret"></b></a>
                    <ul class="dropdown-menu top-store-ul">
                        <div class="row">
                            <div class="col-lg-4">
                                <li><a href="">Mobile Exchange Offers</a></li>
                            </div>
                            <div class="col-lg-4">
                                <li><a href="">TV Exchange Offers</a></li>
                            </div>
                            <div class="col-lg-4">
                                <li><a href="">Laptop Exchange Offers</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li><a ui-sref="blogs.blogs">Blog</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /.container-fluid -->
</div>

<ui-view></ui-view>