<div class="custom-popup-wrapper" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">
    <ul class="dropdown-menu typeahead-ul" role="listbox">
        <li class="uib-typeahead-match" ng-repeat="match in matches track by $index"
            ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)"
            role="option" id="{{::match.id}}">
            <!-- Left-aligned -->
            <div class="media">
                <div class="media-left">
                    <img ng-src="{{ match.model.image }}" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <p>{{ match.model.name }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>