<link rel="stylesheet" href="/static/app/admin-panel/modules/cms/add/add.cms.css" />

<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    Update CMS Page
                </h1>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
    <div class="panel-body">
        <form ng-submit="updateCms(cms)">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="cms_name">Name</label>
                        <input type="text" class="form-control input-sm" id="cms_name"
                               placeholder="cms Name" ng-model="cms.name" required>
                    </div>
                    <div class="form-group">
                        <label for="url">URL</label>
                        <input type="text" class="form-control input-sm" id="url"
                               placeholder="URL" ng-model="cms.url" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea ng-click="textEditor($event)" rows="3"
                                  ng-model="cms.description" class="form-control input-sm" id="description"
                                  placeholder="Description"></textarea>
                    </div>

                </div><!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="footer_description">SEO Title</label>
                        <input type="text" ng-model="cms.seo_title" class="form-control input-sm" id="footer_description"
                               placeholder="SEO Title">
                    </div>
                    <div class="form-group">
                        <label for="seo_description">SEO Description</label>
                        <textarea ng-model="cms.seo_description" class="form-control input-sm" id="seo_description"
                                  placeholder="SEO Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="h1">H1</label>
                        <input type="text" class="form-control input-sm" id="h1" placeholder="H1"
                               ng-model="cms.h1">
                    </div>
                </div> <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="form-group" ng-init="cms.status = true">
                        <label>Status</label> <br />
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="true" name="cms.status" data-ng-model="cms.status">Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="false" name="cms.status" data-ng-model="cms.status">Pending
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="last_modified_by">Last Modified By</label>
                        <input type="text" id="last_modified_by" class="form-control input-md" value="{{ user.first_name }} {{ user.last_name }}" disabled />
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <button type="submit" class="btn btn-info btn-md">Update CMS</button>
        </form>
        <br><br><br><br><br><br>
    </div> <!-- end panel-body -->
</div>