<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    Add Banners
                </h1>
            </div>
        </div>
        <!-- end row -->
    </div>

    <div class="panel-body" cg-busy="load">
        <form name="signup" ng-submit="addbanner(banner)" cg-busy="load">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input required type="text" id="title" class="form-control" ng-model="banner.title" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="image">Image*</label>
                        <input type="file" id="image" ng-model="banner.image" base-sixty-four-input>
                        <p class="help-block">Upload an image Here</p>
                    </div>
                    <div class="form-group">
                        <label for="image_text">Image Text</label>
                        <input required id="image_text" type="text" class="form-control input-md" ng-model="banner.image_text" placeholder="Image Text" />
                    </div>
                    <div class="form-group">
                        <label>Expiry Date</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input required type='text' data-date-format="MM/DD/YYYY HH:mm:ss" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <ui-select id="status" required ng-model="banner.status" theme="bootstrap">
                            <ui-select-match placeholder="Select Status">{{ $select.selected.text }}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in status | filter: $select.search">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="related_banners">Top Banner</label>
                        <ui-select ui-required="true" id="related_banners" ng-model="banner.top_banner_string" theme="bootstrap">
                            <ui-select-match placeholder="Selection type">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in selection_type | orderBy: 'text' | propsFilter: {text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="side_banners">Side Banner</label>
                        <ui-select ui-required="true" id="side_banners" ng-model="banner.side_banner_string" theme="bootstrap" title="Related Stores">
                            <ui-select-match placeholder="Selection type">{{$select.selected.text}}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in side_banner_array | orderBy: 'text' | propsFilter: {text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="destination_url">Destination URL</label>
                        <input type="text" placeholder="Destination URL" ng-model="banner.destination_url"
                            class="form-control" id="destination_url">
                    </div>
                    <div class="form-group">
                        <label for="deal_of_the_day">Deal Of the Day Banner</label>
                        <ui-select id="deal_of_the_day" required ng-model="banner.deal_of_the_day_banner" theme="bootstrap">
                            <ui-select-match placeholder="Select Status">{{ $select.selected.text }}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in deal_of_the_day | filter: $select.search">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="last_modified_by">Last Modified By</label>
                        <input type="text" id="last_modified_by" class="form-control input-md" value="{{ user.first_name }} {{ user.last_name }}" disabled />
                    </div>
                </div> <!-- end col -->
                <div class="col-lg-3 col-md-3">
                    <div class="form-group" ng-if="banner.image.base64">
                        <label for="banner_image">Banner Image Display</label>
                        <div class="thumbnail" id="banner_image">
                            <i class="fa fa-close" ng-click="banner.image = ''"></i>
                            <img ng-src="data:image/jpeg;base64,{{ banner.image.base64 }}" />
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            <div class="form-group">
                <button type="submit" class="btn btn-md btn-info">Create banner</button>
            </div>
        </form>
    </div>
    <!-- end panel-body -->
</div>