<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    Master SEO's
                </h1>
            </div>
        </div>
        <!-- end row -->
    </div>

    <div class="panel-body" cg-busy="load">
        <form name="signup" ng-submit="seo(seo)" cg-busy="load">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="form-group col-md-12">
                        <label for="title">Meat Title</label>
                        <input required type="text" id="title" class="form-control" ng-model="seo.meta_title" placeholder="Meta Title" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description">Meta Description</label>
                        <textarea ng-click="textEditor($event)" class="form-control input-md" name="description"
                                  id="description" ng-model="seo.meta_description" cols="30" rows="3"
                                  placeholder="Meta Description"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="related_seos">Selection Types</label>
                        <ui-select id="related_seos" multiple ng-model="seo.selection_type" theme="bootstrap"
                                   close-on-select="false" title="Related Stores">
                            <ui-select-match placeholder="Selection type">{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in selection_type | propsFilter: {text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="status">Status</label>
                        <ui-select id="status" required ng-model="seo.status" theme="bootstrap">
                            <ui-select-match placeholder="Select Status">{{ $select.selected.text }}</ui-select-match>
                            <ui-select-choices repeat="item.code as item in status | filter: $select.search">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="last_modified_by">Last Modified By</label>
                        <input type="text" id="last_modified_by" class="form-control input-md" value="{{ user.first_name }} {{ user.last_name }}" disabled />
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-md btn-info">Submit SEO</button>
            </div>
        </form>
    </div>
    <!-- end panel-body -->
</div>