<link rel="stylesheet" href="static/app/customer-panel/modules/category.info/category.info.css"/>
<link rel="stylesheet" href="static/bower_components/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="static/app/customer-panel/modules/category.info/coupon.popup.css"/>
<!-- category info starts here -->
<div class="container pad" ng-if="!params">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumb">
					<div class="thumbnail">
						<i class="fa" ng-class="{'fa-heart-o': !favorite.favorite, 'fa-heart': favorite.favorite}"
						   ng-click="manageFavorite()"></i>
						<img ng-src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}">
					</div> <!-- end thumbnail -->
					<p class="text-center font-bold">
						Rate this category
					</p>
                    <p class="text-center rating-stars">
                        <div class="text-center" star-rating rating-value="category.rating" max="5"></div>
                    </p>
					<p class="text-center">
						{{ category.rating }}/5 Based on {{ category.voting }} Votes
					</p>
				</div>
				<div class="col-lg-9 col-sm-12 col-md-9 col-xs-12 store-info">
					<div style="width: 100%; min-height: 20px;">
						<ol class="breadcrumb pull-right">
							<li><a href="#/">Home</a></li>
							<li><a href="#/category">categories</a></li>
							<li ng-repeat="item in category.breadcrumb">
                                <a ng-if="!$last" ui-sref="main.categoryinfo({url: item.url})">{{ item.name }}</a>
                                <span ng-if="$last">{{ item.name }}</span>
                            </li>
                            <li class="active">{{ category.url }}</li>
						</ol>
					</div> <!-- end div -->
					<h3 class="margin-top-0 h3-heading">{{ category.h1 }}</h3>
                    <p ng-click="show = !show" class="para_small top-desc"
                       ng-class="{'show-desc': show}" data-ng-bind-html="trustAsHtml(category.top_description)"></p>
                    <p class="para_small">
                        {{ category.related_coupons.length }} Verified Coupons -
                        <time datetime="{{ category.toDayDate | date: 'dd MMM yyyy hh:mm' }}">{{ category.toDayDate | date: "dd MMM yyyy hh:mm a" }}</time>
                    </p>
				</div>
			</div>
		</div> <!-- end panel body -->
	</div> <!-- end panel -->
	<div class="row">
		<div class="col-lg-3 col-sm-12 col-md-3 pad-right-0 col-xs-12">
			<div class="well social-well">
				<p class="social-icons text-center">
                    <a target="_blank" href="https://www.facebook.com/FabPromoCodes/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://plus.google.com/113116676582324316660/about?gmbpt=true&_ga=1.176672103.352270514.1467899366">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/FabPromocodes">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.pinterest.com/fabpromocodes/">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </p>
			</div>
		</div> <!-- end col-lg-3 -->
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 mar_top">
			<div class="panel panel-default">
				<div class="panel-body panel_pad">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active col-lg-4 col-xs-4 pad-0 text-center pad_nav_right">
                            <a href="" data-target="#all-tab" aria-controls="home" role="tab" data-toggle="tab">All &nbsp;
                                <span class="label label-info">{{ filterCoupons.length }}</span>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg-4 pad-0 text-center col-xs-4 pad_nav_right pad_nav_left">
                            <a href="" data-target="#deals-tab" aria-controls="profile" role="tab" data-toggle="tab">Deals&nbsp;
                                <span class="label label-primary">{{ dealsLength.length }}</span>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg-4 pad-0 text-center col-xs-4 pad_nav_left">
                            <a href="" data-target="#coupons-tab" aria-controls="messages" role="tab" data-toggle="tab">
                                Coupons&nbsp;
                                <span class="label label-success">{{ couponsLength.length }}</span>
                            </a>
                        </li>
					</ul>
				</div>
			</div>
		</div> <!-- end col -->
	</div> <!-- end row -->

	<!--row-->
	<div class="row">
		<!--col-->
		<div class="col-lg-3 col-md-3 col-sm-3 pad-right-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-bold">Store Filters</h5>
				</div>
				<!--panel heading-->
				<div class="panel-body">
					<div class="form-group">
						<div class="icon-addon addon-sm">
							<input type="text" placeholder="Search"
                                   class="form-control input-sm" autocomplete="off"
                                   id="filter-store" ng-model="search.store">
							<label for="email" class="fa fa-search" rel="tooltip" title="Search for Store filters"></label>
						</div>
					</div>
					<div class="check-box-filter-area">
						<div class="checkbox" style="word-wrap: break-word; margin-top: 5px; line-height: 30px;"
							 ng-repeat="item in stores | filter: search.store">
							<label for="{{ item._id }}_select_all_filter" style="font-weight: 500;">
								<input id="{{ item._id }}_select_all_filter" type="checkbox"
                                       ng-model="filter['store'][item._id]" ng-change="applyFilter()" />
								<span id="span_for_select_{{ item._id }}" class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								<span>{{ item.name }}</span>
							</label>
						</div>
					</div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->

			<div class="panel panel-default" ng-repeat="(key, items) in categories">
                <div class="panel-heading">
                    <h5 class="font-bold">{{ (key == 'Regular'? 'Category': key) }} Filters ({{ items.length }})</h5>
                </div>
                <!--panel heading-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="icon-addon addon-sm" title="Search for Category filters">
                            <input type="text" placeholder="Search" class="form-control input-sm"
                                   autocomplete="off" id="category_filter" ng-model="search[key]">
                            <label for="category_filter" class="fa fa-search" rel="tooltip"></label>
                        </div>
                    </div>
                    <div class="check-box-filter-area">
                        <div class="checkbox" style="word-wrap: break-word; margin-top: 5px; line-height: 30px;"
                             ng-repeat="item in items | filter: search[key]">
                            <label for="{{ item._id }}_category_filter" style="font-weight: 500;">
                                <input id="{{ item._id }}_category_filter" type="checkbox"
                                       ng-model="filter['category'][item._id]" ng-change="applyFilter()" />
                                <span id="span_category_{{ item._id }}" class="cr">
                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                </span>
                                <span>{{ item.name }}</span>
                            </label>
                        </div> <!-- end check box -->
                    </div>
                </div>
                <!--end panel body-->
            </div>
            <!--end panel-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-bold">Related Categories</h5>
				</div>
				<!--panel heading-->
				<div class="panel-body">
					<div class="check-box-filter-area">
						<p ng-repeat="item in category.related_categories">
							<a ui-sref="main.categoryinfo({url: item.url})"
                               style="color: #666; text-decoration: underline;">
                                {{ item.name }}
                            </a>
						</p>
					</div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h5 class="font-bold">Top Stores</h5>
				</div>
				<!--panel heading-->
				<div class="panel-body">
					<div class="check-box-filter-area">
						<p ng-repeat="item in category.top_stores">
							<<a ui-sref="main.store-info({url: item.url, cc: undefined})" style="color: #666; text-decoration: underline;">
                                <img ng-src="{{ item.image }}" height="50" width="50" style="float: left;">
                                {{ item.name }}
                            </a>
						</p>
					</div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->
		</div>
		<!--end col-->
		<div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row" style="margin-bottom: 20px;">
                <div ng-repeat="item in category.top_stores | limitTo: 6" class="col-md-2 col-sm-2">
                    <div class="thumbnail" ui-sref="main.store-info({url: item.url})">
                        <img ng-src="{{ item.image }}" alt="" height="50" width="100">
                    </div>
                </div>
            </div>
			<div class="tab-content">
				<div class="tab-pane active" id="all-tab">
                    <span ng-repeat="item in filterCoupons">
                        <div class="panel panel-default coupon all">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <h4>
                                                {{ item.discount_type }} {{ item.discount }}
                                            </h4>
                                            <div class="deal">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="col-xs-12 hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h3 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs">
                                                <i class="fa fa-star"></i>&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h3>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left">
                                            <i class="fa fa-star"></i>&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p class="top-desc" ng-class="{'show-desc': showMore.all[item._id]}"
                                                  data-ng-bind-html="trustAsHtml(item.description)"></p>
                                            <span class="pull-right">
                                                <a ng-click="showMore.all[item._id] = !showMore.all[item._id]" href="" class="btn btn-link">
                                                    Show {{ (showMore.all[item._id]) ? "Less": "More" }}
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <a ui-sref="main.store-info({url: item.related_stores[0].url})">
                                                See all {{ item.related_stores[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                            <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9  pull-right">
                                        <a target="_blank" ui-sref="main.store-info({url: store.url, cc: item._id})" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--end panel footer -->
                        </div> <!-- end panel -->
                        <!-- promo codes starts here --> <!-- panel -->
                        <div class="row" ng-if="$index == 2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3 class="ola_mar">{{ category.h2 }}</h3>
                            </div>
                        </div>
                    </span>
				</div> <!-- tab-1 -->

				<div class="tab-pane" id="deals-tab">
                    <span ng-if="item.coupon_type == 'offer'" ng-repeat="item in filterCoupons">
                        <div class="panel panel-default coupon deals">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <h4>
                                                {{ item.discount_type }} {{ item.discount }}
                                            </h4>
                                            <div class="deal">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="col-xs-12 hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h3 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs">
                                                <i class="fa fa-star"></i>&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h3>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left">
                                            <i class="fa fa-star"></i>&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p class="top-desc" ng-class="{'show-desc': showMore.deals[item._id]}"
                                               data-ng-bind-html="trustAsHtml(item.description)">

                                            </p>
                                            <span class="pull-right">
                                                <a ng-click="showMore.deals[item._id] = !showMore.deals[item._id]" href="" class="btn btn-link">
                                                    Show {{ (showMore.deals[item._id]) ? "Less": "More" }}
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <a ui-sref="main.categoryinfo({url: item.related_categories[0].url})">
                                                See all {{ item.related_categories[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                            <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9  pull-right">
                                        <a target="_blank" ui-sref="main.store-info({url: store.url, cc: item._id})" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--end panel footer -->
                        </div> <!-- end panel -->
                    </span>
				</div> <!-- tab-2 -->
				<div class="tab-pane" id="coupons-tab">
                    <span ng-if="item.coupon_type == 'coupon'" ng-repeat="item in filterCoupons">
                        <div class="panel panel-default coupon coupons">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <h4>
                                                {{ item.discount_type }} {{ item.discount }}
                                            </h4>
                                            <div class="deal">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="col-xs-12 hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h3 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs">
                                                <i class="fa fa-star"></i>&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h3>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left">
                                            <i class="fa fa-star"></i>&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p class="top-desc" ng-class="{'show-desc': showMore.coupons[item._id]}"
                                               data-ng-bind-html="trustAsHtml(item.description)"></p>
                                            <span class="pull-right">
                                                <a ng-click="showMore.coupons[item._id] = !showMore.coupons[item._id]" href="" class="btn btn-link">
                                                    Show {{ (showMore.coupons[item._id]) ? "Less": "More" }}
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <a ui-sref="main.categoryinfo({url: item.related_categories[0].url})">
                                                See all {{ item.related_categories[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                                <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9  pull-right">
                                        <a target="_blank" ui-sref="main.store-info({url: store.url, cc: item._id})" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                                <!--end panel footer -->
                        </div> <!-- end panel -->
                    </span>
				</div> <!-- tab-3 -->

				<!-- about description start here -->
                <div class="panel panel-default">
                    <div class="panel-body" ng-bind-html="trustAsHtml(category.footer_description)"></div>
                </div>
                <!-- about description end here -->
			</div>
		</div>
		<!-- end col -->
	</div>
	<!--end row-->
</div>
<!-- end of store info -->
<!-- category info end here -->


<!-- ================ showing coupon popup ================= -->
<span ng-if="params">
    <div class="container-fluid hs-sc-top">
        <span ui-sref="main.categoryinfo({url: category.url, cc: undefined})" class="pull-left hs-go-back">
            <i class="fa fa-arrow-left"></i> Go Back
        </span>
        <span ui-sref="main.categoryinfo({url: category.url, cc: undefined})" class="pull-right hs-go-close">
            Close
            <i class="fa fa-times"></i>
        </span>
    </div>

    <div class="container bg-w">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <a href="" title="" class="hs-sc-img center-block">
                    <img src="https://happysale.in/hs/img/m/flipkart-1447769846055.jpeg" alt="Flipkart">
                </a>
                <p class="text-center">Flipkart Electronics Sale: Upto 80% OFF</p>
                <div class="hs-code">
                    <span class="hs-sc-offer text-center">Offer Activated</span>
                </div>

                <div>
                    <!-- Target -->
                    <input id="foo" value="https://github.com/zenorocha/clipboard.js.git">

                                        <!-- Trigger -->
                    <button class="btn" data-clipboard-target="#foo">
                        <img src="assets/clippy.svg" alt="Copy to clipboard">
                    </button>
                </div>
                <a class="hs-goto-mrcht text-center" target="_blank"
                   data-file="flipkart/" href="https://happysale.in/pass/offer/?load=14628"
                   title=""><i class="fa fa-arrow-circle-o-right"></i> Go to Flipkart</a>
                <div class="hs-sc-c-det">
                    <p class="hs-scd-desp">
                        Shop and get upto 80% off on all electronics
                        products that are available on the site. Choose from laptops, desktops, televisions, cameras, accessories, personal care appliances, headphones &amp; speakers, smart gadgets, IT peripherals and more. No discount coupons required to get this sale offers. Avail now!</p>
                </div>

                <div class="hs-scd-social text-center">
                    <a href="https://happysale.in/flipkart/" title="Flipkart">
                        Check Out All Flipkart Coupons
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-suggested-coupons">
        <h1 class="text-center page_h1">Recommended Coupons</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center pad">
                            <a href="" title="Paytm Coupons"><img src="https://happysale.in/hs/img/m/flipkart-1447769846055.jpeg" alt="Flipkart" class="img img-responsive" ></a>
                        </div>
                        <div class="panel-body">
                            <div class="coupon-type">
                                <span class="text-center">Upto 80% OFF</span>
                            </div>
                            <div class="coupon-title">
                                <span class="text-center">Flipkart Electronics Sale: Upto 80% OFF</span>
                            </div>
                            <div class="btn btn-md btn-block btn-info">Activate Offer</div>
                            <a href="https://happysale.in/flipkart/" title="See all Flipkart Coupons" class="coupon-all" class="link">Flipkart Coupons</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center pad">
                            <a href="" title="Paytm Coupons"><img src="https://happysale.in/hs/img/m/flipkart-1447769846055.jpeg" alt="Flipkart" class="img img-responsive" ></a>
                        </div>
                        <div class="panel-body">
                            <div class="coupon-type">
                                <span class="text-center">Upto 80% OFF</span>
                            </div>
                            <div class="coupon-title">
                                <span class="text-center">Flipkart Electronics Sale: Upto 80% OFF</span>
                            </div>
                            <div class="btn btn-md btn-block btn-info">Activate Offer</div>
                            <a href="https://happysale.in/flipkart/" title="See all Flipkart Coupons" class="coupon-all" class="link">Flipkart Coupons</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center pad">
                            <a href="" title="Paytm Coupons"><img src="https://happysale.in/hs/img/m/flipkart-1447769846055.jpeg" alt="Flipkart" class="img img-responsive" ></a>
                        </div>
                        <div class="panel-body">
                            <div class="coupon-type">
                                <span class="text-center">Upto 80% OFF</span>
                            </div>
                            <div class="coupon-title">
                                <span class="text-center">Flipkart Electronics Sale: Upto 80% OFF</span>
                            </div>
                            <div class="btn btn-md btn-block btn-info">Activate Offer</div>
                            <a href="https://happysale.in/flipkart/" title="See all Flipkart Coupons" class="coupon-all" class="link">Flipkart Coupons</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hs-foot">
        <div class="container">
            <div class="row row_1">
                <div class="col-md-7 col-md-offset-2 col-xs-12 col-sm-12">
                    <div class="hsf-top">
                        <ul class="list-inline hs-social">
                            <li class="col-xs-6 col-lg-3 col-md-3"><a href="https://www.facebook.com/HappySale/" target="_blank" class="hs-f-facebook"><i class="fa fa-facebook-official right_border"></i><span class="left_border">Facebook</span></a></li>
                            <li class="col-xs-6 col-lg-3 col-md-3"><a href="https://plus.google.com/+HappySaleIn/posts" target="_blank" class="hs-f-google"><i class="fa fa-google-plus right_border ga"></i><span  class="left_border">  Google+ </span></a></li>
                            <li class="col-xs-6 col-lg-3 col-md-3"><a href="https://twitter.com/HappySaleIn" target="_blank" class="hs-f-twitter"><i class="fa fa-twitter right_border tw"></i><span class="left_border">   Twitter </span></a></li>
                            <li class="col-xs-6 col-lg-3 col-md-3"><a href="https://www.pinterest.com/happysale/" target="_blank" class="hs-f-pinterest"><i class="fa fa-pinterest right_border"></i><span class="left_border">Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>
<!-- ================ end                  ================= -->