@media only screen and (max-device-width: 720px) {
    .pad-right-0 {
        padding-right: 15px !important;
    }
    .only-desktop {
        display: none !important;
    }
    .footer-desc img {
        width: auto;
        max-width: 100%;
    }
    .store-logo img {
        width: auto !important;
    }
}

.related-coupon-deal {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    min-height: 55px;
    padding: 5px;
    width: 138px;
    left: -5px;
    /* bottom: -50px; */
    height: 50px;
    border-radius: 5px;
    max-height: 50px;
    color: #fff;
    /* margin: -2px 2px 0 2px; */
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.related-coupon-deal img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.coupon-of-the-day {
    border: 2px solid orange;
}
.coupon-of-the-day-tile {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    color: #000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.suggest-store-logo {
    height: 40px;
    width: 120px;
    display: flex;
    max-height: 40px;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.suggest-store-logo img {
    max-width: 100%;
    height: 100%;
    max-height: 40px;
}
.top-banner-thumbnail {
    padding: 0 !important; border-bottom: 0 !important; margin-bottom: 10px;
}
div.thumbnail.top-banner-thumbnail > a > img {
    margin-bottom: 10px;
}
.cat-filters {
    border-top: 3px solid #7e70a1;
    border-radius: 3px;
}
.store-info {
    color: rgba(0,0,0,.75);
}
.coupon-heading {
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif!important;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.deal-price .deal img {
    height: 55px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}
.deal-thumbnail {
    padding: 0 !important;
    margin-bottom: 15px !important;
}
.deal-thumbnail img {
    max-height: 200px;
    min-height: 200px;
}
.thumbnail {
    border: 0px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    margin: 0px;
    padding: 10px;
}
.thumb {
    border-right: 1px solid #ddd;
    margin-top: 5px;
}
div.coupon {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    opacity: 1;
}
/* -fail- */

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.image-height img{
    height: 150px;
}
.thumbnail .fa {
    position: absolute;
    top: -9px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}
.h3-heading {
    margin-bottom: 10px;
    color: #151313;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.rating-stars i {
    padding: 0 3px;
    color: #888888;
}
.social-well {
    padding: 15px;
    background-color: #FFFFFF;
}
.well {
    margin-bottom: 10px !important;
}
.social-well p {
    margin-bottom: 0;
}

.top_banner_area .thumbnail {
    border-bottom: 0 solid !important;
    background: transparent !important;
}
.suggest-coupon-discount {
    text-transform: uppercase;
    font-size: 15px;
}
/* coupons, deals */
.deal-price {
    font-size: 12px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    width: 125px;
    min-height: 90px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(34,34,34,.2);
}
.deal-price .deal-price-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
}
.deal-price p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 3px;
    line-height: 25px;
    margin: 0;
    display: block;
    text-transform: uppercase;
}
.f-coupon-type {
    color: #fff;
    background: #8a438c;
    text-transform: uppercase;
    width: 126px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    height: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.coupon-heading span i {
    color: #898989;
    font-size: 20px;
    cursor: pointer;
}
.contact-info i {
    width: 15px;
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
    left: -4px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    top: 37%;
    bottom: 37%;
}
.carousel-control.right {
    right: -4px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
.deals-upto{
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    color: #4E5055;
}
.mar{
    margin: 0px;
}
.pad{
    padding: 0px;
}
.use-main-h{
    font-size: 20px;
    text-transform: uppercase;
}
.use-main-h-font{
    font-size: 20px;
}
.sugg-para{
    margin: 30px 0px;
}
.suggested-footer{
    padding: 0px;
    border-top: 0px;
    margin-top: 15px;
}
.font-13{
    font-size: 13px;
}
.font-icon-co{
    color: #4FAA3B;
}
.top-move-5{
    margin-top:5px;
}
.con-para{
    opacity: 0.6;
    line-height: 25px;
}
.latest-tweet{
    color: #B12F35;
    font-size: 13px;
}
.tweets-para{
    line-height: 20px;
    font-size: 12px;
}
.tweets-date{
    font-size: 12px;
    opacity: 0.6;
}
.tweets-div{
    border-bottom: 2px dotted #ddd;
    margin-bottom: 20px;
}
.tweets-div:last-child{
    border-bottom: none !important;
}
.panel_pad{
    padding:14px;
}
.ola_mar{
    margin-bottom: 20px;
}
.desc-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.desc-area div {
    margin-left: 15px;
    min-width: 20%;
    text-align: center;
}
.desc-area .show_copan_code {
    min-width: 170px;
}
/* ----------- coupon popup ----- */
.coupon-content{
    border-radius: 0px;
}
.modal-lg-main{
    width: 800px;
}
.extra-h3{
    margin: 0px;
    color: #323333;
    font-size: 22px;
    letter-spacing: 1px;
}
.coupon-main-div{
    width: 70%;
    margin: auto;
    display: table;
}
.mar-bot{
    margin-bottom: 0px;
}
.here-para{
    color: #67686A;
    letter-spacing: 1px;
    font-size: 15px;
}
.view-a{
    letter-spacing: 1px;
    font-size: 15px;
}
.mar{
    margin:0px !important;
}
.promo-code{
    background: #DFFFF4;
    padding: 12px 0px;
    text-align: center;
    border: 2px dotted #11BC9A;
    border-left: 0px;
    border-right: 2px solid #11bc9a;
}
.promo-code h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.copy-div{
    background: #6E6093;
    color: #fff;
    text-align: center;
    padding: 14px 0px;
    cursor: pointer;
}
.copy-div h4{
    font-weight: 600;
}
.little-app-check{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
}
.coupon-div-4 h3{
    margin: 18px 0px;
    font-size: 22px;
    letter-spacing: 0.5px;
}
.coupon-div-4 p{
    margin: 18px 0px;
    letter-spacing: 0.5px;
}
.get-btn{
    outline: none;
    border-radius: 0px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    background: #6E6093;
}
.get-btn.focus, .get-btn:focus, .get-btn:hover{
    outline: none;
    border-radius: 0px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    background: #6E6093;
}
.left-never{
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.8;
    color: #3F3E3F;
    margin-top: -10px !Important;
    margin: 0px;
}
.subscribe-email-field{
    outline: none;
    padding: 8px 7px;
    border: 1px solid #D3D3D3;
    width: 70%;
}
.subscribe-btn{
    outline: none;
    background: #11BC9A;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -5px;
    margin-top: -3px;
}
.subscribe-btn.focus, .subscribe-btn:focus, .subscribe-btn:hover{
    outline: none;
    background: #11BC9A;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -5px;
    margin-top: -3px;
}
.modal-body-in{
    padding: 0px !important;
    background: #F5F5F5;
}
.div-fff{
    background: #fff;
}
.close-btn{
    margin-right: 10px;
    font-size: 28px;
    color: #595959 !Important;
    opacity: 1;
}
/* ------end ------ */

/* end of coupons, deals */
@media screen and (max-width: 768px) {
    .thumb{
        border-right:none;
        margin-top: 0px;"
    }
    .breadcrumb {
        padding: 0px 10px 0px 0px;
        font-size: 11px;
    }
    h3{
        font-size: 19px;
        font-weight: bold;
    }
    .thumbnail{
        padding: 0px;
    }
    .para_small{
        font-size: 13px;
        text-align: justify;
        line-height: 20px;
    }
    .panel{
        margin-bottom: 0;
    }
    .mar_top{
        margin-top: -3%;
    }
    .visit_store{
        width:100%;
    }
    .panel_pad{
        padding:15px 0px;
    }
    .pad-right-0 {
        padding-right: 15px;
    }
    .pad_nav_left{
        padding-left:0;
    }
    .pad_nav_right{
        padding-right: 0;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 0px;
        font-size: 13px;
    }
    .panel-body_fa {
        padding: 17px 15px 0px;
    }
    .fifty_cashback{
        margin: 0 0 2% -6%;
        font-weight: bold;
    }
    .coupon-footer {
        line-height: 20px;
    }
    .vari_pad{
        padding-top: 2%;
    }
    .show_copan_code{
        margin: 7% 0% 0%;
    }
    .ola_mar{
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .table{
        font-size: 12px;
    }
    h4{
        font-size: 16px;
    }
}