/* ---------- media query for mobile ------------ */
@media only screen and (max-device-width: 480px) {
    div.stores-description-inner div.amazon-logo, div.stores-description-inner div.amazon-logo a {
        width: 60px !important;
    }
    .stores-description div.stores-description-inner {
        width: 23% !important;
    }
    div.stores-description-inner div.amazon-logo img {
        width: auto !important;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .pad-left-0 {
        padding-left: 15px !important;
    }
    .h3-heading, .coupon-heading {
        font-size: 17px !important;
        line-height: 20px;
    }
    .stores-description .stores-description-inner a.btn {
        width: 74px;
        font-size: 10px;
    }
    div.stores-description-inner h4, div.stores-description-inner p {
        font-size: 12px;
    }
    .btn-grey {
        width: 45% !important;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    ul.dynamic-fields {
        padding: 10px 20px !important;
    }
    ul.dynamic-fields li {
        width: 100% !important;
    }
    .only-desktop {
        display: none !important;
    }
    .flex-justify-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .flex-justify-between .btn-grey {
        width: 48.5% !important;
        margin-right: 0;
    }
    .flex-justify-between .btn-grey:last-child {
        width: 100% !important;
    }
    .mobile-store-description {
        background: #fff;
        padding: 15px;
        overflow-x: scroll;
        width: 100%;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        justify-content: space-between;
    }
    .deal-store-logo {
        height: 150px !important;
        margin: 0 auto;
        border: 0 solid !important;
        border-bottom: 1px solid rgba(0,0,0,.09) !important;
    }
    .blog-side-banner a img, .word_press a img {
        height: auto;
        width: auto;
        border-radius: 3px;
        max-width: 100%;
        max-height: 100%;
    }
    .pad-right-0 {
        padding-right: 15px !important;
    }
    .showcase-img, .deal-store-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileprice-logo img {
        width: auto !important;
        height: auto !important;
        max-width: 100%;
        max-height: 100%;
    }
    .stores-description-inner .btn {
        font-size: 13px;
    }
    .mobile-store-description .stores-description-inner {
        margin-right: 15px;
    }
    .mobile-store-description .stores-description-inner:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .amazon-logo a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }
    table {
        width: 100% !important;
    }
    div.general-head table td {
        min-width: auto !important;
    }
    .only-desktop {
        display: none !important;
    }
    .footer-desc img {
        width: auto;
        max-width: 100%;
    }
}
@media only screen and (min-device-width: 720px) {
    .only-mobile {
        display: none;
    }
}

.deal-cat-left {
    border-right: 1px solid #ddd;
}
.coupon-heading {
    font-family: "Open Sans Semibold","Open Sans",Arial,sans-serif!important;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.tile-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.word_press{
    margin-left: 0;
    height: 100px;
    margin-bottom: 10px;
}
.word_press a {
    display: block;
    height: 100px;
    overflow: hidden;
}
.word_press a img, .blog-side-banner a img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.blog-side-banner {
    height: 300px;
    margin: 10px 0;
}
.blog-side-banner a {
    height: 300px;
    overflow: hidden;
}
.coupon-footer .vari_pad {
    justify-content: flex-end;
}
.top-desc-from-top {
    height: auto;
    max-height: 180px;
    margin-bottom: 10px;
}
div.border-left {
    border-left: 1px solid #DDDDDD;
}
.deal-store-logo {
    width: 250px;
    height: 220px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.09);
}
.deal-store-logo img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
ul.dynamic-fields {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    padding: 10px 30px;
    border-radius: 3px;
}
ul.dynamic-fields li {
    text-transform: capitalize;
    line-height: 20px;
    width: 30%;
    white-space: nowrap;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    color: #666;
}
.bottom-features {
    background: #FFFFFF !important;
    padding: 15px !important;
}
.tile-footer div {
    min-width: 30%;
}
.showcase-img {
    height: 150px;
    max-height: 150px;
    overflow: hidden;
    padding: 3px;
    border-radius: 3px;
    border: 0 solid;
}
.showcase-img img {
    height: 140px;
}
.breadcrumb-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coupon .panel-body, .tab-pane .deal-tile .panel-body {
    min-height: 150px;
}
.deal-price {
    font-size: 12px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    width: 125px;
    min-height: 90px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(34,34,34,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.deal-price p {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 3px;
    line-height: 25px;
    margin: 0;
    display: block;
    text-transform: uppercase;
}
.f-coupon-type {
    color: #fff;
    background: #8a438c;
    text-transform: uppercase;
    width: 126px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    height: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.store-logo {
    border-style: solid;
    border-color: #ddd;
    border-width: 0 0 1px 0;
}
.rating {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rolloverimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.product-panel {
    padding-bottom: 0;
}
.rolloverimage a {
    width: 60px;
    height: 40px;
    border: 1px solid #DDDDDD;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rolloverimage a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 3px;
}

.pagenation-main {
    padding-top: 10px;
}

.pagenation-text {
    padding-left: 0px;
}


.mobileprice-body-main {
    padding: 10px 0px;
    border-bottom: 0px solid #999;
}

.mobileprice-text {
    padding: 0px !important;
}


.mobileprice-logo-stars fieldset,
.mobileprice-logo-stars label {
    margin: 0;
    padding: 0;
}

.mobileprice-logo-stars {
    margin: 0px auto;
    display: table;
}

.mobileprice-logo-stars .rating {
    line-height: 14px;
}

.rating {
    border: none;
    float: left;
}
.stores-description {
    padding: 15px 0;
}
div.stores-description-inner h4, div.stores-description-inner p {
    margin: 0 0 5px 0;
}
.stores-description div.stores-description-inner {
    width: 19%;
}
div.stores-description-inner div.amazon-logo {
    height: 50px;
    width: 130px;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
}
div.stores-description-inner div.amazon-logo a {
    height: 40px;
    width: 120px;
}
.rating-section, .stores-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eeecec;
}
.rating-section {
    height: 45px;
}
.rating-section div, .stores-description div.stores-description-inner {
    margin-right: 10px;
}
.rating-section .rating-number {
    padding: 5px 10px;
    border: 1px solid #DDD;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,

    /* show gold star when clicked */

.rating:not(:checked) > label:hover,

    /* hover current star */

.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating > input:checked + label:hover,

    /* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,

    /* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

#owl-demo .owl-item img {
    margin: 3px;
    border-right: 3px solid #eaeaea;
}

.sortby-text select {
    width: 150px;
}

#owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-main {
    padding-bottom: 10px;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
    float: left;
}

.owl-theme .owl-controls .owl-page:active span {
    opacity: 1;
}

.owl-pagination {
    margin: 0px auto;
    display: none;
}

.owl-pagination .owl-page {
    display: inline;
}

.owl-controls {
    padding-top: 5px;
}

.otherbrands-main {
    border-bottom: 1px solid #999;
}
table {
    display: block;
    margin: 0 auto;
    width: 70%;
}
.deal-description-area {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 2px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}
.h3-main-heading {
    margin-top: 0;
}
.otherbrands-text h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
    line-height: 32px;
    margin-bottom: 5px;
}

.otherbrands-text h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    margin-top: 0px;
}

.showingproducts-main {
    padding: 15px 0px;
}

.showingproducts-text,
.sortby-text {
    padding: 0px;
}

.showingproducts-text h4 {
    margin-top: 20px;
    margin-left: 7px;
}

.pricerange-head {
    float: left;
    width: 100%;
}

.pricerange-head h3 {
    font-size: 20px;
    float: left;
    margin-top: 4px;
}

.clear-text {
    float: right;
    color: #afafaf;
    padding-top: 5px;
}

.sidebar-main {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.pricerange-sidebar-main {
    padding: 0px;
}

.row_mar {
    margin: 0;
}

section.range-slider {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
}

.pricerange-type {
    height: 83px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 33px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.pricerange-values {
    padding: 0px;
}

.pricerange-values input {
    width: 100%;
    border: 1px solid #bbbbbb;
    padding-left: 5px;
}

.pricerange-input {
    padding-left: 0px;
    padding-right: 8px;
}

.pricerange-input-right {
    padding-left: 8px;
    padding-right: 0px;
}

.rangeValues {
    position: relative;
    top: 20px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.pricerange-radio {
    padding-top: 35px;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 15px;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.brandhead {
    padding-top: 10px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.product-img img {
    max-width: 200px;
}

.product-stars {
    line-height: 10px;
    margin: 0px auto;
    display: table;
}

.product-price h4 {
    color: #337ab7;
}

.product-specifications {
    max-width: 200px;
    margin: 0px auto;
}

.product-specifications ul li {
    font-size: 12px;
    line-height: 18px;
}

.product-specifications ul {
    background: #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-title {
    border-bottom: 1px solid #eaeaea;
}

.buynowbtn {
    margin: 0px auto;
    display: table;
    padding: 5px 25px;
    font-size: 16px;
}

.products-list {
    padding-right: 0px;
    padding-left: 0px;
    z-index: 9;
}

.product-border-main {
    border-right: 1px solid #eaeaea;
}

.product-border-main:first-child {
    border-left: 1px solid #eaeaea;
}

.products-row-main {
    border-top: 1px solid #eaeaea;
}

.products-main {
    margin-bottom: 25px;
}

.col_md_9_pad {
    padding-right: 0;
}

.showmore-head h3 {
    margin: 0px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background: #eaeaea;
}

.showmore-text-head h4 {
    padding-top: 10px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
}

.showmore-text-head p {
    text-align: justify;
}

.subscribe-form {
    position: relative;
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 0px !important;
}

.subscribe-input {
    padding: 0 16px;
    width: 100%;
    height: 35px;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    color: #444;
    background: #fefefe;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #999 #aaa #aaa;
    border-radius: 0px;
}

.subscribe-main p {
    margin-bottom: 0px;
}

.subscribe-submit {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    height: 35px;
    width: 160px;
    background: orange;
    border: 1px solid;
    border-color: orange;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
}

table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
    color: #333333;
}

h2 {
    font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

.pad {
    padding: 0;
}

.pagenation-text a:last-child {
    color: #000 !important;
}

.pricerange-radio input[type=checkbox] {
    width: 20px;
    height: 15px;
    background: #333;
    margin: 3px auto;
    position: relative;
}

.pricerange-radio input[type=checkbox]:after {
    content: '';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

.pricerange-radio input[type=radio] {
    width: 20px;
    height: 15px;
    position: relative;
    margin: 3px auto;
    background: #fcfff4;
}

.pricerange-radio input[type=checkbox]:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.ratethisproduct-stars {
    float: left;
    padding-left: 8px;
}

.ratethisproduct-head {
    float: left;
    padding-top: 10px;
}

.ratethisproduct-head h4 {
    float: left;
    margin: 0px;
}

.ratethisproduct-ratingshead a,
.ratethisproduct-reviewshead a,
.amazon-moredetails a {
    color: #000;
}

.bestprice-head {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-left: 15px;
}


.chevron_right {
    margin-left: 10px;
}

.amazonstore-store-main {
    border-bottom: 1px solid #eaeaea;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    padding-bottom: 5px;
}

.quickspecifications-main {
    padding: 5px;
    border-radius: 4px;
    background: #f7f7f7;
}

.general-text strong {
    text-align: right;
}

.general-specifications {
    background: #f9f9f9;
    padding: 5px 10px;
    margin-top: 10px;
}

.general-specifications-text {
    padding-left: 0px;
}
div.general-head table td {
    text-transform: capitalize;
    padding: 5px;
    min-width: 270px;
}
.product-details-tr td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 15px 5px;
    line-height: 1.42857143;
    border-top: 1px solid #dddddd;
    min-height: 30px;
    background: #fbfbfb;
}
.product-details-tr {
    margin-top: 10px;
}
.btn-grey {
    color: #000;
    background-color: #f5f5f6;
    border-color: #DDD;
    width: 18%;
    margin-right: 10px;
    border-radius: 3px;
}
.btn-grey:hover, .btn-grey:active, .btn-grey:focus {
    color: #000;
}
.stores-section {
    background-color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
}
.well {
    margin-bottom: 10px!important;
}
.social-well {
    padding: 15px;
    background-color: #fff;
}
.stores-section .stores-description-inner {
    width: 15% !important;
}
.mobilespecifications-right .brands-content {
    background-color: #FFFFFF;
    padding: 10px;
}
.mobilespecifications-right .brands-content li {
    list-style-type: none;
    margin: 5px 0;
}
.mobilespecifications-right .brands-content li a {
    color: #000;
    text-decoration: underline;
}
.stores-section .stores-description-inner:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.stores-section .stores-description-inner .store-name {
    margin-right: 30px;
}
.tableimg img {
    width: 100px;
}

.pricelisttable-main .btn {
    margin-top: 5px;
}

.mobilespecifications-head {
    padding-left: 0px;
    margin-left: 15px;
    border-bottom: 1px solid #eaeaea;
}

.brandtext {
    width: 30%;
}

.samsungtext {
    width: 70%;
}

.features-mobilespecifications-text {
    padding-left: 50px;
    padding-top: 5px;
    border-left: 1px dotted #999;
    margin-left: 10px;
    margin-bottom: 25px;
}

.brandtext {
    border-right: 2px solid #fff;
}

.similarmobile-head h3 {
    font-size: 20px;
}

.similarmobile-img img {
    width: 80px;
}

.similarmobile-img {
    float: left;
}

.similarmobile-imgtext {
    padding-top: 5px;
}

.similarmobile-text {
    min-height: 80px;
}

.whatsnot-main p {
    text-align: justify;
}

.whatsnot-main {
    margin-top: 20px;
    border: 5px solid #eaeaea;
    padding: 20px;
}

.whatsnot-main strong {
    line-height: 30px;
}

.productlist .product-img img {
    margin: 0px auto;
    display: table;
}

.productlist .products-row-main {
    margin-top: 30px;
}

.sortby-text {
    padding-top: 8px;
}

.otherbrands-slider.col-md-9 {
    padding: 0px;
}

.otherbrands-text .col-md-3 {
    padding: 0px;
}

.table-main {
    width: 100%;
}

.last_row {
    padding-bottom: 50px;
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 1330px;
    }
}

@media screen and (min-width:320px) and (max-width: 359px) {
    .container {
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
    }
    .row_mar {
        margin: 0 0px 0 15px;
    }
    h4 {
        font-size: 16px;
    }
    .mobile_pad {
        padding: 0 0 0 15px;
    }
    .pricerange-head h3 {
        font-size: 16px;
    }
    .clear-text {
        padding-top: 3px;
        font-size: 14px;
    }
    .products-row-main {
        border-top: none;
        margin-top: 20px;
    }
    .updated-text {
        text-align: left;
        padding-left: 0px !important;
    }
    .product-border-main {
        border-top: 1px solid #eaeaea;
    }
    .pricerange-input {
        padding-right: 3px;
    }
    .form-control {
        height: 29px;
        font-size: 13px;
    }
    .pricerange-radio {
        font-size: 13px;
    }
    .rangeValues {
        top: 30px;
    }
    .pricerange-radio input[type=radio] {
        width: 18px;
        height: 13px;
    }
    .pricerange-radio input[type=checkbox] {
        width: 18px;
        height: 13px;
    }
    .rating {
        font-size: 11px;
    }
    .product-specifications ul li {
        margin-left: -10%;
        font-size: 15px;
    }
    .showmore-head h3 {
        font-size: 20px;
    }
    .subscribe-submit {
        padding-left: 7px;
        height: 29px;
        width: 82px;
    }
    .pad {
        padding: 0;
    }
    .ratethisproduct-ratingshead a,
    .ratethisproduct-reviewshead a,
    .amazon-moredetails a {
        font-size: 12px;
    }
    .bestprice-head h2 {
        font-size: 22px;
        border-bottom: 1px solid #eaeaea;
    }
    .general-specifications-text {
        padding-left: 15px;
    }
    .bestprice-head {
        border-bottom: none;
    }
    .pagenation-main {
        font-size: 12px;
    }
    .mobileprice-logo img {
        width: 120%;
    }
    .owl-carousel .owl-item {
        width: 96px !important;
    }
    .otherbrands-text h3 {
        font-size: 26px;
        margin-top: 15px;
        line-height: 26px;
    }
    h3 {
        font-size: 20px;
    }
    .table {
        font-size: 12px;
    }
    .last_row {
        padding-bottom: 20px;
    }
    .otherbrands-text h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .otherbrands-slider {
        padding-bottom: 15px;
    }
    .sortby-text {
        text-align: left;
        padding-top: 10px;
    }
    .products-list {
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .showmore-text-head h4 {
        padding-top: 0px;
    }
    .mobileprice-logo.col-sm-6 {
        padding-right: 0px;
    }
    .mobileprice-text p {
        padding: 0px 0px 0px 15px;
        border-left: 0px;
        border-right: 0px;
    }
    .subscribe-form {
        margin-top: 10px;
    }
    .product-img img {
        margin: 0px auto;
        display: table;
        max-width: 136px;
    }
    .rolloverimage img {
        width: 65px !important;
    }
    .amazon-logo {
        padding-top: 0px;
    }
    .amazon-logo img {
        width: 70%;
        margin: 0px auto;
        display: table;
    }
    .amazonactualprice h4,
    .amazonactualprice h5 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .amazonactualprice {
        padding-bottom: 10px;
    }
    .specifications-text {
        margin: 5px 0px;
    }
    .specifications-text {
        padding-right: 0px !important;
    }
    .whatsnot-main {
        padding: 5px 10px;
    }
    .product-border-main {
        border-left: 1px solid #eaeaea;
    }
    .showmobile-main {
        padding-right: 0px;
    }
    .products-main.col-md-9 {
        padding-right: 0px;
    }
    .products-main {
        padding: 0
    }
    .sortby-text select {
        width: 100%;
        margin-top: 5px;
    }
    .sortby-empty {
        display: none;
    }
    .amazonstore-store-main {
        border-bottom: 0px;
    }
    .ratethisproduct-ratingshead h4 {
        font-size: 16px;
    }
    .quickspecifications-main {
        padding: 10px 25px;
    }
    .mobileprice-text h3 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 15px;
    }
    .amazonactualprice h4 {
        font-size: 16px;
        font-weight: normal;
    }
    .amazonactualprice h5 {
        font-weight: normal;
        font-size: 13px;
    }
    .general-specifications {
        padding: 3px 5px;
        font-size: 12px;
        line-height: 23px;
    }
    .general-head {
        padding: 2px 0px;
    }
    .specifications-main {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .specifications-btn {
        border: 0px;
        font-size: 13px;
        padding: 4px 5px;
    }
    .specifications-text {
        margin: 2px -5px;
    }
    .discounttext-main .text-right h3 {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 5px 0px;
    }
    .discounttext-main .col-md-6 {
        padding: 0px;
    }
    .mobilespecifications-head {
        margin-left: 0px;
    }
    .mobilespecifications-head h3 {
        font-size: 18px;
        margin: 0px 0px 5px 0px;
    }
    .features-mobilespecifications h3 {
        margin: 10px 0px 0px 0px;
        font-size: 18px;
    }
    .features-mobilespecifications h3 i {
        margin-right: -15px;
    }
    .features-mobilespecifications-text {
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .features-mobilespecifications-text tr td {
        padding: 5px 10px !important;
    }
}

@media screen and (min-width:360px) and (max-width: 375px) {
    .container {
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
    }
    .row_mar {
        margin: 0 0px 0 15px;
    }
    h4 {
        font-size: 18px;
    }
    .mobile_pad {
        padding: 0 0 0 15px;
    }
    .pricerange-head h3 {
        font-size: 16px;
    }
    .clear-text {
        padding-top: 0px;
        font-size: 17px;
    }
    .products-row-main {
        border-top: none;
        margin-top: 20px;
    }
    .updated-text {
        text-align: left;
        padding-left: 0px !important;
    }
    .product-border-main {
        border-top: 1px solid #eaeaea;
    }
    .pricerange-input {
        padding-right: 3px;
    }
    .form-control {
        height: 29px;
        font-size: 13px;
    }
    .pricerange-radio {
        font-size: 16px;
    }
    .rangeValues {
        top: 30px;
    }
    .pricerange-radio input[type=radio] {
        width: 18px;
        height: 13px;
    }
    .pricerange-radio input[type=checkbox] {
        width: 18px;
        height: 13px;
    }
    .rating {
        font-size: 11px;
    }
    .product-specifications ul li {
        margin-left: -10%;
        font-size: 14px;
    }
    .showmore-head h3 {
        font-size: 20px;
    }
    .subscribe-submit {
        padding-left: 7px;
        height: 29px;
        width: 82px;
    }
    .pad {
        padding: 0;
    }
    .ratethisproduct-ratingshead a,
    .ratethisproduct-reviewshead a,
    .amazon-moredetails a {
        font-size: 15px;
    }
    .bestprice-head h2 {
        font-size: 26px;
        border-bottom: 1px solid #eaeaea;
    }
    .general-specifications-text {
        padding-left: 15px;
    }
    .bestprice-head {
        border-bottom: none;
    }
    .pagenation-main {
        font-size: 15px;
    }
    .mobileprice-logo img {
        width: 120%;
    }
    .owl-carousel .owl-item {
        width: 96px !important;
    }
    .otherbrands-text h3 {
        font-size: 26px;
        margin-top: 15px;
        line-height: 26px;
    }
    h3 {
        font-size: 20px;
    }
    .table {
        font-size: 14px;
    }
    .last_row {
        padding-bottom: 20px;
    }
    .otherbrands-text h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .otherbrands-slider {
        padding-bottom: 15px;
    }
    .sortby-text {
        text-align: left;
        padding-top: 10px;
    }
    .products-list {
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .showmore-text-head h4 {
        padding-top: 0px;
    }
    .mobileprice-logo.col-sm-6 {
        padding-right: 0px;
    }
    .mobileprice-text p {
        padding: 0px 0px 0px 15px;
        border-left: 0px;
        border-right: 0px;
    }
    .subscribe-form {
        margin-top: 10px;
    }
    .product-img img {
        margin: 0px auto;
        display: table;
        max-width: 136px;
    }
    .rolloverimage img {
        width: 65px !important;
    }
    .amazon-logo {
        padding-top: 0px;
    }
    .amazon-logo img {
        width: 70%;
        margin: 0px auto;
        display: table;
    }
    .amazonactualprice h4,
    .amazonactualprice h5 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .amazonactualprice {
        padding-bottom: 10px;
    }
    .specifications-text {
        margin: 5px 0px;
    }
    .specifications-text {
        padding-right: 0px !important;
    }
    .whatsnot-main {
        padding: 5px 10px;
        font-size: 16px;
    }
    .product-border-main {
        border-left: 1px solid #eaeaea;
    }
    .showmobile-main {
        padding-right: 0px;
    }
    .products-main.col-md-9 {
        padding-right: 0px;
    }
    .products-main {
        padding: 0
    }
    .sortby-text select {
        width: 100%;
        margin-top: 5px;
    }
    .sortby-empty {
        display: none;
    }
    .amazonstore-store-main {
        border-bottom: 0px;
    }
    .ratethisproduct-ratingshead h4 {
        font-size: 16px;
    }
    .quickspecifications-main {
        padding: 10px 25px;
    }
    .mobileprice-text h3 {
        font-size: 19px;
        line-height: 20px;
    }
    .amazonactualprice h4 {
        font-size: 16px;
        font-weight: normal;
    }
    .amazonactualprice h5 {
        font-weight: normal;
        font-size: 13px;
    }
    .general-specifications {
        padding: 3px 5px;
        font-size: 14px;
        line-height: 23px;
    }
    .general-head {
        padding: 2px 0px;
    }
    .specifications-main {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .specifications-btn {
        border: 0px;
        font-size: 15px;
        padding: 4px 5px;
    }
    .specifications-text {
        margin: 2px -5px;
    }
    .discounttext-main .text-right h3 {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 5px 0px;
    }
    .discounttext-main .col-md-6 {
        padding: 0px;
    }
    .mobilespecifications-head {
        margin-left: 0px;
    }
    .mobilespecifications-head h3 {
        font-size: 18px;
        margin: 0px 0px 5px 0px;
    }
    .features-mobilespecifications h3 {
        margin: 10px 0px 0px 0px;
        font-size: 18px;
    }
    .features-mobilespecifications h3 i {
        margin-right: -15px;
    }
    .features-mobilespecifications-text {
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .features-mobilespecifications-text tr td {
        padding: 5px 10px !important;
    }
    .btn {
        font-size: 16px;
    }
    body {
        font-size: 16px;
    }
}

@media screen and (min-width:412px) and (max-width: 414px) {
    .container {
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
    }
    .row_mar {
        margin: 0 0px 0 15px;
    }
    h4 {
        font-size: 14px;
    }
    .mobile_pad {
        padding: 0 0 0 15px;
    }
    .pricerange-head h3 {
        font-size: 16px;
    }
    .clear-text {
        padding-top: 3px;
        font-size: 12px;
    }
    .products-row-main {
        border-top: none;
        margin-top: 20px;
    }
    .updated-text {
        text-align: left;
        padding-left: 0px !important;
    }
    .product-border-main {
        border-top: 1px solid #eaeaea;
    }
    .pricerange-input {
        padding-right: 3px;
    }
    .form-control {
        height: 34px;
        font-size: 15px;
    }
    .pricerange-radio {
        font-size: 15px;
    }
    .rangeValues {
        top: 30px;
    }
    .pricerange-radio input[type=radio] {
        width: 18px;
        height: 13px;
    }
    .pricerange-radio input[type=checkbox] {
        width: 18px;
        height: 13px;
    }
    .rating {
        font-size: 11px;
    }
    .product-specifications ul li {
        margin-left: -10%;
        font-size: 16px;
    }
    .showmore-head h3 {
        font-size: 20px;
    }
    .subscribe-submit {
        padding-left: 7px;
        height: 34px;
        width: 115px;
    }
    .pad {
        padding: 0;
    }
    .ratethisproduct-ratingshead a,
    .ratethisproduct-reviewshead a,
    .amazon-moredetails a {
        font-size: 17px;
    }
    .bestprice-head h2 {
        font-size: 30px;
        border-bottom: 1px solid #eaeaea;
    }
    .general-specifications-text {
        padding-left: 15px;
    }
    .bestprice-head {
        border-bottom: none;
    }
    .pagenation-main {
        font-size: 18px;
    }
    .mobileprice-logo img {
        width: 120%;
    }
    .owl-carousel .owl-item {
        width: 96px !important;
    }
    .otherbrands-text h3 {
        font-size: 26px;
        margin-top: 15px;
        line-height: 26px;
    }
    h3 {
        font-size: 22px;
    }
    .table {
        font-size: 18px;
    }
    .last_row {
        padding-bottom: 20px;
    }
    .otherbrands-text h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .otherbrands-slider {
        padding-bottom: 15px;
    }
    .sortby-text {
        text-align: left;
        padding-top: 10px;
    }
    .products-list {
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .showmore-text-head h4 {
        padding-top: 0px;
    }
    .mobileprice-logo.col-sm-6 {
        padding-right: 0px;
    }
    .mobileprice-text p {
        padding: 0px 0px 0px 15px;
        border-left: 0px;
        border-right: 0px;
    }
    .subscribe-form {
        margin-top: 10px;
    }
    .product-img img {
        margin: 0px auto;
        display: table;
        max-width: 136px;
    }
    .rolloverimage img {
        width: 65px !important;
    }
    .amazon-logo {
        padding-top: 0px;
    }
    .amazon-logo img {
        width: 70%;
        margin: 0px auto;
        display: table;
    }
    .amazonactualprice h4,
    .amazonactualprice h5 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .amazonactualprice {
        padding-bottom: 10px;
    }
    .specifications-text {
        margin: 5px 0px;
    }
    .specifications-text {
        padding-right: 0px !important;
    }
    .whatsnot-main {
        padding: 5px 10px;
        font-size: 17px;
    }
    .product-border-main {
        border-left: 1px solid #eaeaea;
    }
    .showmobile-main {
        padding-right: 0px;
    }
    .products-main.col-md-9 {
        padding-right: 0px;
    }
    .products-main {
        padding: 0
    }
    .sortby-text select {
        width: 100%;
        margin-top: 5px;
    }
    .sortby-empty {
        display: none;
    }
    .amazonstore-store-main {
        border-bottom: 0px;
    }
    .ratethisproduct-ratingshead h4 {
        font-size: 16px;
    }
    .quickspecifications-main {
        padding: 10px 25px;
    }
    .mobileprice-text h3 {
        font-size: 24px;
        line-height: 20px;
    }
    .amazonactualprice h4 {
        font-size: 17px;
        font-weight: normal;
    }
    .amazonactualprice h5 {
        font-weight: normal;
        font-size: 16px;
    }
    .general-specifications {
        padding: 3px 5px;
        font-size: 16px;
        line-height: 23px;
    }
    .general-head {
        padding: 2px 0px;
    }
    .specifications-main {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .specifications-btn {
        border: 0px;
        font-size: 19px;
        padding: 4px 5px;
    }
    .specifications-text {
        margin: 2px -5px;
    }
    .discounttext-main .text-right h3 {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 5px 0px;
    }
    .discounttext-main .col-md-6 {
        padding: 0px;
    }
    .mobilespecifications-head {
        margin-left: 0px;
    }
    .mobilespecifications-head h3 {
        font-size: 18px;
        margin: 0px 0px 5px 0px;
    }
    .features-mobilespecifications h3 {
        margin: 10px 0px 0px 0px;
        font-size: 18px;
    }
    .features-mobilespecifications h3 i {
        margin-right: -15px;
    }
    .features-mobilespecifications-text {
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .features-mobilespecifications-text tr td {
        padding: 5px 10px !important;
    }
    body {
        font-size: 17px;
    }
    .btn {
        font-size: 18px;
    }
}