<link rel="stylesheet" href="static/app/customer-panel/modules/category.info/category.info.css"/>

<!-- category info starts here -->
<div class="container pad top-container">
	<div class="panel panel-default">
		<div class="panel-body">
            <div style="width: 100%; min-height: 20px;" class="breadcrumb-area">
                <ol class="breadcrumb pull-right">
                    <li><a ui-sref="main.home">Home</a></li>
                    <li><a ui-sref="main.category">categories</a></li>
                    <li ng-repeat="item in category.breadcrumb">
                        <a ng-if="!$last" ui-sref="main.categoryinfo({url: item.url})">{{ item.name }}</a>
                        <span ng-if="$last">{{ item.name }}</span>
                    </li>
                    <li class="active">{{ category.url }}</li>
                </ol>
            </div> <!-- end div -->
            <div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumb">
					<div class="thumbnail store-logo">
						<img ng-src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}">
					</div> <!-- end thumbnail -->
					<div style="width: 100%;" class="text-center rating-stars">
                        <div class="text-center" star-rating rating-value="category.rating" max="5"></div>
                    </div>
					<p class="text-center">
						{{ category.rating }}/5 Based on {{ category.voting }} Votes
					</p>
				</div>
				<div class="col-lg-9 col-sm-12 col-md-9 col-xs-12 store-info">
					<h1 class="margin-top-0 h3-heading">{{ category.h1 }}</h1>
                    <p ng-click="show = !show" class="para_small top-desc"
                       ng-class="{'show-desc': show}" data-ng-bind-html="trustAsHtml(category.top_description)"></p>
                    <p class="para_small">
                        {{ category.related_coupons.length }} Verified Coupons -
                        <time datetime="{{ category.toDayDate | date: 'dd MMM yyyy hh:mm' }}">{{ category.toDayDate | date: "dd MMM yyyy hh:mm a" }}</time>
                    </p>
				</div>
			</div>
		</div> <!-- end panel body -->
	</div> <!-- end panel -->

	<!--row-->
	<div class="row">
		<!--col-->
		<div class="col-lg-3 col-md-3 col-sm-3 pad-right-0 only-desktop">
            <div class="well social-well">
                <p class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/FabPromoCodes/">
                        <i class="fa fa-facebook"></i> &nbsp;Facebook
                    </a>
                    <a target="_blank" href="https://plus.google.com/113116676582324316660/about?gmbpt=true&_ga=1.176672103.352270514.1467899366">
                        <i class="fa fa-google-plus"></i> &nbsp;Google+
                    </a>
                </p>
                <p class="social-icons">
                    <a target="_blank" href="https://twitter.com/FabPromocodes">
                        <i class="fa fa-twitter"></i> &nbsp;Twitter
                    </a>
                    <a target="_blank" href="https://www.pinterest.com/fabpromocodes/">
                        <i class="fa fa-pinterest"></i> &nbsp;Pinterest
                    </a>
                </p>
            </div>
			<div class="panel panel-default cat-filters only-desktop">
				<div class="panel-heading">
					<h5 class="font-bold">Store Filters</h5>
				</div>
				<!--panel heading-->
				<div class="panel-body">
					<div class="form-group">
						<div class="icon-addon addon-sm">
							<input type="text" placeholder="Search"
                                   class="form-control input-sm" autocomplete="off"
                                   id="filter-store" ng-model="search.store">
							<label for="email" class="fa fa-search" rel="tooltip" title="Search for Store filters"></label>
						</div>
					</div>
					<div class="check-box-filter-area">
						<div class="checkbox" style="word-wrap: break-word;"
							 ng-repeat="item in stores | filter: search.store">
							<label for="{{ item._id }}_select_all_filter" style="font-weight: 500;">
								<input id="{{ item._id }}_select_all_filter" type="checkbox"
                                       ng-model="filter['store'][item._id]" ng-change="applyFilter()" />
								<span id="span_for_select_{{ item._id }}" class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
								<span>{{ item.name }}</span>
							</label>
						</div>
					</div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->

			<div class="panel panel-default cat-filters only-desktop" ng-repeat="(key, items) in categories">
                <div class="panel-heading">
                    <h3 class="font-bold side-h3-heading">{{ (key == 'Regular'? 'Category': key) }} Filters</h3>
                </div>
                <!--panel heading-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="icon-addon addon-sm" title="Search for Category filters">
                            <input type="text" placeholder="Search" class="form-control input-sm"
                                   autocomplete="off" id="category_filter" ng-model="search[key]">
                            <label for="category_filter" class="fa fa-search" rel="tooltip"></label>
                        </div>
                    </div>
                    <div class="check-box-filter-area">
                        <div class="checkbox" style="word-wrap: break-word;"
                             ng-repeat="item in items | filter: search[key]">
                            <label for="{{ item._id }}_category_filter" style="font-weight: 500;">
                                <input id="{{ item._id }}_category_filter" type="checkbox"
                                       ng-model="filter['category'][item._id]" ng-change="applyFilter()" />
                                <span id="span_category_{{ item._id }}" class="cr">
                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                </span>
                                <span>{{ item.name }}</span>
                            </label>
                        </div> <!-- end check box -->
                    </div>
                </div>
                <!--end panel body-->
            </div>
            <!--end panel-->

			<div class="panel panel-default cat-filters">
				<div class="panel-heading">
					<h3 class="font-bold side-h3-heading">Related Categories</h3>
				</div>
				<!--panel heading-->
				<div class="panel-body">
					<div class="check-box-filter-area rel-stores">
                        <span ng-repeat="item in category.related_categories">
                            <a class="pull-left" ui-sref="main.categoryinfo({url: item.url, cc: undefined})">
                                <img ng-src="{{ item.image }}" alt="64x64">
                            </a>
                            <p>{{ item.name }}</p>
                        </span>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.related_categories"></div>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.related_categories"></div>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.related_categories"></div>
                    </div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->

            <!-- side banner area -->
            <div class="thumbnail" style="padding: 0; margin-bottom: 10px; border-bottom: 0;"
                 ng-if="category.side_banner || top_banner.side_banner_string != 'none'">
                <a target="_blank" href="{{ (category.side_banner)? category.side_banner_url: top_banner.destination_url }}">
                    <img style="max-height: 100px;" ng-src="{{ (category.side_banner)? category.side_banner: top_banner.image }}"
                         alt="{{ top_banner.title }}" />
                </a>
            </div> <!-- end of side banner area -->

			<div class="panel panel-default cat-filters">
				<div class="panel-heading">
					<h3 class="font-bold side-h3-heading">Top Stores</h3>
				</div>
				<!--panel heading-->
				<div class="panel-body">
                    <div class="check-box-filter-area rel-stores">
                        <span ng-repeat="item in category.top_stores">
                            <a class="pull-left" ui-sref="main.store-info({url: item.url, cc: undefined})">
                                <img  ng-src="{{ item.image }}" alt="64x64">
                            </a>
                            <p>{{ item.name }}</p>
                        </span>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.top_stores"></div>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.top_stores"></div>
                        <div class="placeholder rel-stores-placeholder" ng-repeat="item in category.top_stores"></div>
                    </div>
				</div>
				<!--end panel body-->
			</div>
			<!--end panel-->
		</div>
		<!--end col-->
		<div class="col-lg-9 col-md-9 col-sm-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active col-lg-2 col-xs-4 pad-0 text-center pad_nav_right">
                    <a href="" data-target="#all-tab" aria-controls="home" role="tab" data-toggle="tab">All &nbsp;
                        <span> ({{ filterCoupons.length }})</span>
                    </a>
                </li>
                <li role="presentation" class="col-lg-2 pad-0 text-center col-xs-4 pad_nav_right pad_nav_left">
                    <a href="" data-target="#deals-tab" aria-controls="profile" role="tab" data-toggle="tab">Deals&nbsp;
                        <span> ({{ dealsLength.length }})</span>
                    </a>
                </li>
                <li role="presentation" class="col-lg-2 pad-0 text-center col-xs-4 pad_nav_left">
                    <a href="" data-target="#coupons-tab" aria-controls="messages" role="tab" data-toggle="tab">
                        Coupons&nbsp;
                        <span> ({{ couponsLength.length }})</span>
                    </a>
                </li>
            </ul>
            <!-- top banner area -->
            <div class="row" ng-if="category.top_banner || top_banner">
                <div class="col-md-12 col-sm-12">
                    <div class="thumbnail" style="margin-bottom: 20px; padding: 0;">
                        <a target="_blank" href="{{ (category.top_banner)? category.top_banner_url: top_banner.destination_url }}">
                            <img style="max-height: 100px; border-radius: 3px;" ng-src="{{ (category.top_banner) ? category.top_banner: top_banner.image }}" alt="{{ top_banner.title }}" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- end of top banner area -->
            <div class="row cat-top-store-area">
                <div class="thumbnail cat-top-stores" ng-repeat="item in category.top_stores | limitTo: 6">
                    <a ui-sref="main.store-info({url: item.url})">
                        <img ng-src="{{ item.image }}" alt="">
                    </a>
                </div>
            </div> <!-- end of top stores -->
			<div class="tab-content">
				<div class="tab-pane active" id="all-tab">
                    <span ng-repeat="item in filterCoupons | orderBy: 'coupon_sorting': true">
                        <div class="panel panel-default coupon all">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <div class="deal-price-text">
                                                <h3>
                                                    {{ item.discount_type }} <br> {{ item.discount }}
                                                </h3>
                                            </div>
                                            <div class="related-coupon-deal hidden-xs">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs" style="display: none;">
                                                <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                                   ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h4>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left" style="display: none;">
                                            <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                               ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p dd-text-collapse dd-text-collapse-max-length="260" dd-text-collapse-text="{{ item.description }}" class="top-descs"></p>
                                        </p>
                                        <p>
                                            <a ui-sref="main.store-info({url: item.related_stores[0].url})">
                                                See all {{ item.related_stores[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                            <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  pull-right">
                                        <a ng-click="openCouponCode(category, item)" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="row vari_pad">
                                    <div class="col-lg-12 col-md-12">
                                        <!-- comments display directive -->
                                        <comments-display items="item.comments"></comments-display>
                                        <!-- end of comments display directive -->
                                    </div>
                                </div>
                            </div>
                            <!--end panel footer -->
                        </div> <!-- end panel -->
                        <!-- promo codes starts here --> <!-- panel -->
                        <div class="row" ng-if="$index == 2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class="h3-heading">{{ category.h2 }}</h2>
                            </div>
                        </div>
                    </span>
				</div> <!-- tab-1 -->

				<div class="tab-pane" id="deals-tab">
                    <span ng-if="item.coupon_type == 'offer'" ng-repeat="item in filterCoupons | orderBy: 'coupon_sorting': true">
                        <div class="panel panel-default coupon deals">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <div class="deal-price-text">
                                                <h3>
                                                    {{ item.discount_type }} <br> {{ item.discount }}
                                                </h3>
                                            </div>
                                            <div class="related-coupon-deal hidden-xs">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs" style="display: none;">
                                                <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                                   ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h4>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left" style="display: none;">
                                            <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                               ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p dd-text-collapse dd-text-collapse-max-length="260" dd-text-collapse-text="{{ item.description }}" class="top-descs"></p>
                                        </p>
                                        <p>
                                            <a ui-sref="main.categoryinfo({url: item.related_categories[0].url})">
                                                See all {{ item.related_categories[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                            <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  pull-right">
                                        <a ng-click="openCouponCode(category, item)" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row vari_pad">
                                    <div class="col-lg-12 col-md-12">
                                        <!-- comments display directive -->
                                        <comments-display items="item.comments"></comments-display>
                                        <!-- end of comments display directive -->
                                    </div>
                                </div>
                            </div>
                            <!--end panel footer -->
                        </div> <!-- end panel -->
                    </span>
				</div> <!-- tab-2 -->
				<div class="tab-pane" id="coupons-tab">
                    <span ng-if="item.coupon_type == 'coupon'" ng-repeat="item in filterCoupons | orderBy: 'coupon_sorting': true">
                        <div class="panel panel-default coupon coupons">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <div class="deal-price text-center hidden-xs">
                                            <div class="deal-price-text">
                                                <h3>
                                                    {{ item.discount_type }} <br> {{ item.discount }}
                                                </h3>
                                            </div>
                                            <div class="related-coupon-deal hidden-xs">
                                                <img ng-src="{{ item.related_stores[0].image }}">
                                            </div>
                                        </div> <!-- end deal-price -->
                                        <div class="hidden-lg hidden-md">
                                            <p class="fifty_cashback">
                                                {{ item.discount_type }} {{ item.discount }}
                                            </p>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        <h4 class="margin-top-0 coupon-heading">
                                            {{ item.title }}
                                            <span class="pull-right hidden-xs" style="display: none;">
                                                <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                                   ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                                <i class="fa fa-share-alt"></i>
                                            </span>
                                        </h4>
                                        <span class="pull-right col-xs-12 hidden-lg hidden-md pad_nav_left" style="display: none;">
                                            <i class="fa" ng-class="{'fa-heart-o': !favorites[item._id], 'fa-heart': favorites[item._id]}"
                                               ng-click="manageFavorite('fav_coupons', item._id)"></i>&nbsp;&nbsp;
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                        <p style="opacity: 0.6; line-height: 25px;" class="para_small">
                                            <p dd-text-collapse dd-text-collapse-max-length="260" dd-text-collapse-text="{{ item.description }}" class="top-descs"></p>
                                        </p>
                                        <p>
                                            <a ui-sref="main.categoryinfo({url: item.related_categories[0].url})">
                                                See all {{ item.related_categories[0].name }} Coupons
                                            </a>
                                        </p>
                                    </div>
                                </div> <!-- end row -->
                            </div> <!-- end panel body -->
                                <!--panel footer-->
                            <div class="panel-footer coupon-footer">
                                <div class="row vari_pad">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_right text-center">
                                        <i class="fa fa-heart-o"></i>
                                        {{ item.status }}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left pad_nav_right text-center">
                                        <i class="fa fa-comment-o"></i> &nbsp;
                                        Comment
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pad_nav_left text-center">
                                        <i class="fa fa-bug"></i> &nbsp;
                                        Report
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  pull-right">
                                        <a ng-click="openCouponCode(category, item)" class="btn btn-md btn-block btn-info show_copan_code">
                                            <span>{{ (item.coupon_type == 'coupon') ? "SHOW COUPON CODE": "GET OFFER" }}</span>
                                            <i class="pull-right fa fa-arrow-right" style="line-height: 20px;"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row vari_pad">
                                    <div class="col-lg-12 col-md-12">
                                        <!-- comments display directive -->
                                        <comments-display items="item.comments"></comments-display>
                                        <!-- end of comments display directive -->
                                    </div>
                                </div>
                            </div>
                                <!--end panel footer -->
                        </div> <!-- end panel -->
                    </span>
				</div> <!-- tab-3 -->

				<!-- about description start here -->
                <div class="panel panel-default">
                    <div class="panel-body footer-desc" ng-bind-html="trustAsHtml(category.footer_description)"></div>
                </div>
                <!-- about description end here -->
			</div>
		</div>
		<!-- end col -->
	</div>
	<!--end row-->
</div>
<!-- end of store info -->
<!-- category info end here -->
