<link rel="stylesheet" href="/static/app/admin-panel/modules/users/all/all.users.css" />
<!-- Tab panes -->
<div class="tab-content" cg-busy="load">
    <div role="tabpanel" class="tab-pane active" cg-busy="load">
        <h1 style="margin-bottom: 30px;">All Employees!</h1>
        <p>Total {{ persons.length }} items</p>
        <hr />
        <div class="row">
            <div class="col-xs-12 third-controller">
                <div class="row">
                    <div class="col-lg-2 col-xs-2 col-md-2 col-sm-2" ng-if="show && persons.length">
                        <button style="margin-top: 20px;" class="btn btn-md btn-info"
                                ng-click="deleteSelected()">
                            Delete <b>{{ check.count }}</b> Item(s)
                        </button>
                    </div>
                    <div class="col-xs-2" ng-if="!show && persons.length">
                        <label for="search">Search:</label>
                        <input ng-model="search.search" ng-change="updateFilteredList()" id="search" class="form-control input-sm" placeholder="Search...">
                    </div>
                    <div class="col-xs-2" ng-if="!show && persons.length">
                        <label for="search">Items per page:</label>
                        <input type="number" min="1" max="200" class="form-control input-sm" ng-model="config.itemsPerPage">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 pull-right">
                        <at-pagination class="pull-right" at-list="filterPersons" at-config="config"></at-pagination>
                    </div>
                </div>
                <br>

                <table class="table table-striped table-bordered" at-table at-paginated at-list="filterPersons" at-config="config">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td style="max-width: 50px;" at-title="Select" width="10">
                            <div class="checkbox" style="word-wrap: break-word; margin-top: 5px; line-height: 30px;">
                                <label for="check_box_store_{{ item._id }}" style="font-weight: 500;">
                                    <input id="check_box_store_{{ item._id }}" type="checkbox"
                                           ng-model="check.check[item._id]" ng-change="checkBox(item._id)" />
                                    <span id="span_for_select_{{ item._id }}" class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td ng-click="viewUser(item)" style="color: #2780e3; text-decoration: underline; cursor: pointer;"
                            at-title="Name">
                            <div style="padding: 15px;">{{ item.first_name }} {{ item.last_name }}</div>
                        </td>
                        <td at-title="Email" at-implicit at-sortable at-attribute="email" width="250"></td>
                        <td at-title="Role" at-implicit at-sortable at-attribute="user_level" width="250"></td>
                        <td at-title="Status" at-implicit at-sortable at-attribute="status" width="250"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="display: none;">
            <div class="col-lg-12 col-md-12">
                <h1>You don't have access to view this page!</h1>
            </div>
        </div>
    </div>
</div>


<style>
    .modal-md {
        width: 60% !important;
    }
</style>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><b>{{ u_user.email }}</b></h5>
            </div>
            <form name="signup" class="row" ng-submit="updateUser(u_user, u_user.tokens.login)">
                <div class="modal-body" style="margin: 15px">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="first_name">FIRST NAME</label>
                            <input id="first_name" type="text" class="form-control" ng-model="u_user.first_name" placeholder="FIRST NAME" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name">LAST NAME</label>
                            <input id="last_name" type="text" class="form-control" ng-model="u_user.last_name" placeholder="LAST NAME" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email address</label>
                            <input type="email" disabled class="form-control" id="email" ng-model="u_user.email" placeholder="Email" autocomplete="off">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mobile_number">MOBILE NUMBER</label>
                            <input type="text" only-digits class="form-control" id="mobile_number" ng-model="u_user.mobile_number" placeholder="MOBILE NUMBER" autocomplete="off">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password"
                                   ng-model="password.password_raw" placeholder="Password"
                                   autocomplete="off">

                            <p><b>Note</b>: An User can't see the old password, If you want to change password, Needs to be updated (Not mandatory)</p>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="user_level">User Level</label>
                            <ui-select id="user_level" ng-model="u_user.user_level" theme="bootstrap">
                                <ui-select-match placeholder="Select User Role">{{ $select.selected.text }}</ui-select-match>
                                <ui-select-choices repeat="item.level as item in userLevels | propsFilter: {level: $select.search}">
                                    <div ng-bind-html="item.text | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label style="width: 100%;">Status</label>
                            <label class="radio-inline"><input type="radio" name="status" value="active"
                                                               ng-model="u_user.status">Active</label>
                            <label class="radio-inline"><input type="radio" name="status" value="inactive"
                                                               ng-model="u_user.status">Inactive</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label style="width: 100%;">Email Confirmed</label>
                            <label class="radio-inline"><input type="radio" name="email_confirmed" data-ng-value="true"
                                                               ng-model="u_user.email_confirmed">Yes</label>
                            <label class="radio-inline"><input type="radio" name="email_confirmed" data-ng-value="false"
                                                               ng-model="u_user.email_confirmed">No</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-md btn-danger" ng-click="updateUser()">Update</button>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- Update popup -->
<div class="delete-popup" id="sidebar-affix">
    <div class="delete-close" ng-click="toggleSidebar('sidebar-affix')">
        <i class="fa fa-close"></i>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Updating <b>{{ u_user.first_name }}</b></h1>



            <div class="col-lg-2 col-sm-2">
                <button class="btn btn-md btn-danger" ng-click="updateUser()">Yes</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-md btn-default" ng-click="toggleSidebar('sidebar-affix')">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Update popup -->