
<link rel="stylesheet" href="static/app/customer-panel/modules/forgot.password/forgot.password.css" />


<div class="container login-container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 forgot_bg">
					<h1>Forgot Your Password?</h1>
					<hr />
					<form name="Forgot" ng-submit="sendLink(forgot)" cg-busy="load">
						<div class="alert fade in" ng-class="{'alert-danger': message.error, 'alert-success': message.success}" ng-if="message.error">
	                        <a href="" class="close" data-dismiss="alert">&times;</a>
	                        <strong>{{ message.type }}</strong>
	                        {{ message.text }}
	                    </div>
						<div class="form-group">
							<label for="Email">Email</label>
							<input type="email" class="form-control input-md" ng-model="forgot.email" required autocomplete="off" placeholder="Enter your Recovery Email.." />
						</div>
						<div class="form-group">
							<button class="btn btn-md btn-info">Submit</button> &nbsp;
							<a class="forgotLnk" ui-sref="main.login">Goto Login?</a>
						</div>
					</form>
				</div>
			</div>
		</div> <!-- end panle-body -->
	</div> <!-- end panel -->
</div>