<link rel="stylesheet" href="/static/app/admin-panel/modules/store/store/store.css" />

<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    All Stores
                </h1>
            </div>
            <!-- end col -->
            <div class="col-lg-2 pull-right">
                <a class="btn btn-sm btn-info pull-right" style="margin-top: 15px;" ui-sref="header.add-store">Add Store</a>
            </div>
        </div>
        <!-- end row -->
        <div class="row" ng-if="mySelectedRows.length">
            <div class="col-lg-3">
                <button class="btn btn-md btn-primary" ng-click="deleteSelected()">Delete Selected</button>
            </div>
        </div>
    </div>

    <div class="panel-body" cg-busy="load">
        <div class="row">
            <div class="col-xs-12 third-controller">
                <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection
                     ui-grid-pagination class="grid"></div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end panel-body -->
</div>