.h3-heading, .h3-heading a {
    color: #000000;
}
.pop-cat-panel {
    max-height: 100px;
    min-height: 100px;
}
.price_txt{
    font-weight: bold;
    text-align: center;
}
.border_around{
    border: 1px solid #DDDDDD;
}
.para1{ font-size: 12px; }
.set_position{
    margin: 10px 0 0 0; padding-left: 0;
}
.cat-area {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.cat-tile {
    width: 24%;
    margin: 10px 5px;
    padding: 10px;
    height: 120px;
    background: #fff;
}
.image-block {
    width: 70px;
    height: 45px;
    border: 1px solid #DDD;
    padding: 5px;
}
.media-image {
    width: 60px;
    height: 35px;
}
.set_position img, .product-img img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.thumbnail {
    border: 0 solid #FFFFFF;
}
.brand-well {
    margin-bottom: 0;
}
.pad-0 {
    padding: 0;
}
.pad_left{ padding-left: 0; }
.row_pad{padding: 2%;}
.row_mar{ margin: 0 -3px; }
.media_pad{ padding-top: 11%; font-weight: bold; }
.best_sell_txt{ font-weight: bold; }
.row_best{ margin-bottom: 2px; border-top: 1px solid #eee;padding:4px 0%; }
.row_best_1{ margin-bottom: 2px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;padding:4px 0%; }
.store-thumbnail {
    padding: 0;
    margin-bottom: 0;
}
.store-thumbnail img {
    max-height: 90px;
    min-height: 90px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.about_raja{ border-bottom: 1px solid #eeeeee; font-weight: bold; padding-bottom: 1%; }
.row_bot_pad{
    padding-bottom: 2%
}