<link rel="stylesheet" href="static/app/customer-panel/modules/fab.deal.home/fab.deal.home.css"/>

<div class="container main_content top-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-class="{'active': $index == 0}" ng-repeat="item in banners">
                <a href="{{ item.destination_url }}">
                    <img ng-src="{{ item.image }}">
                </a>
            </div><!-- End Item -->
        </div><!-- End Carousel Inner -->

        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div><!-- End Carousel -->
    <h1 class="h3-heading text-center">
        Best Price For Mobiles, Laptops, Tvs and More
    </h1>
    <h3 class="h3-heading text-center">
        Popular Categories
    </h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 cat-area">
            <div class="deal-tile cat-tile panel" ng-repeat="item in deal_categories">
                <!-- Right-aligned -->
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ui-sref="main.deal_category_page({url: item.url})">{{ item.name }}</a>
                        </h4>
                    </div>
                    <div class="media-right image-block deal-tile">
                        <img ng-src="{{ item.image }}" class="media-object media-image">
                    </div>
                </div>
                <h5>
                    <a ui-sref="main.deal_category_page({url: item.url})">
                        See All {{ item.name }} Price list
                    </a>
                </h5>
            </div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_categories"></div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_categories"></div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_categories"></div>
        </div>
    </div>

    <!-- Popular Brands -->
    <h3 class="h3-heading text-center">
        Popular Brands
    </h3>

    <div class="row">
        <div class="col-lg-12 col-md-12 cat-area">
            <div class="deal-tile cat-tile panel" ng-repeat="item in deal_brands">
                <!-- Right-aligned -->
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ui-sref="main.deal_brand_page({url: item.url})">{{ item.name }}</a>
                        </h4>
                    </div>
                    <div class="media-right image-block deal-tile">
                        <img ng-src="{{ item.image }}" class="media-object media-image">
                    </div>
                </div>
                <h5>
                    <a ui-sref="main.deal_category_page({url: item.url})">
                        See All {{ item.name }} Price list
                    </a>
                </h5>
            </div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_brands"></div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_brands"></div>
            <div class="placeholder cat-tile-placeholder" ng-repeat="item in deal_brands"></div>
        </div>
    </div>

    <h3 class="h3-heading text-center">
        Best Selling Deals
    </h3>
    <div class="row">
        <deal-tile-directive ng-class="{ 'space-between': best_deals.length >= 4, 'flex-start': best_deals.length < 4 }"
                             class="col-sm-12 col-xs-12" items="best_deals"></deal-tile-directive>
    </div>

    <!-- upcoming deals -->
    <h3 class="h3-heading text-center">Upcoming Deals</h3>
    <div class="row">
        <deal-tile-directive ng-class="{ 'space-between': upcoming_deals.length >= 4, 'flex-start': upcoming_deals.length < 4 }"
                             class="col-sm-12 col-xs-12" items="upcoming_deals"></deal-tile-directive>
    </div>
    <!-- end of upcoming deals -->

    <h3 class="h3-heading text-center">Most Discount Coupons And Offers Stores</h3>
    <!-- end of top banner area -->
    <div class="row cat-top-store-area">
        <div class="thumbnail cat-top-stores" ng-repeat="item in stores">
            <a ui-sref="main.store-info({url: item.url})">
                <img ng-src="{{ item.image }}" alt="">
            </a>
        </div>
    </div> <!-- end of top stores -->

    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="h3-heading">Fab Promocodes</h3>
        </div>
    </div>
</div>