<link rel="stylesheet" href="/static/bower_components/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/app/admin-panel/modules/forgot.password/forgot.password.css" />


<div class="container login-container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>
                        FORGOT PASSWORD?
                    </h1>
                </div>
                <div class="panel-body">
                    <form name="Forgot" ng-submit="sendLink(forgot)">
                        <div class="alert fade in" ng-class="{'alert-danger': message.error, 'alert-success': message.success}" ng-if="message.error">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ message.type }}</strong> {{ message.text }}
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control input-md" ng-model="forgot.email" required autocomplete="off" placeholder="Enter your Email.." />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-md btn-info">Send Link</button>

                            <a ui-sref="login">Back to Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>