<link rel="stylesheet" href="static/app/customer-panel/modules/deal.category.page/deal.category.page.css"/>
<link rel="stylesheet" href="static/bower_components/font-awesome-4.7.0/css/font-awesome.min.css" />
<div class="container main-row">
    <div class="row">
        <div class="pagenation-main col-md-12 col-xs-12 col-sm-12">
            <div class="pagenation-text col-md-4 col-sm-7 col-xs-7">
                <p><a href="#">Home</a> > <a href="#">Mobile Prices</a> > <a href="#">Samsung Mobile Prices</a></p>
            </div>
            <div class="col-md-5"> </div>
            <div class="updated-text text-right col-md-3 col-sm-5 col-xs-5">
                <p>Updated on: {{ deal.date | date: "dd MMM yyyy hh:mm a" }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobileprice-text-main col-md-12">
            <div class="mobileprice-text text-left">
                <h3>{{ deal.name }}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mobileprice-body-main col-md-12">
            <div class="mobileprice-logo col-md-3 col-sm-12 col-xs-12">
                <div><img ng-src="{{ deal.image }}" class="img-responsive"></div>
                <div class="text-center" star-rating rating-value="deal.rating" max="5"></div>
            </div>

            <div class="mobileprice-text col-md-9">
                <p data-ng-bind-html="trustAsHtml(deal.top_description)"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="otherbrands-main col-md-12">
            <div class="otherbrands-text text-center col-md-3">
                <h3>Other categories</h3>
                <h4> You May Like</h4>
            </div>
            <div class="otherbrands-slider col-md-9">
                <div class="otherbrands-text text-center">
                    <div id="owl-demo">
                        <div class="owl-item grayscale" style="width: 293px;" ng-repeat="item in deal.related_categories">
                            <img ng-src="{{ item.image }}" alt="Owl Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="showproducts-main col-md-12">
            <div class="mobileprice-text col-md-3"></div>
            <div class="showingproducts-main col-md-9">
                <div class="showingproducts-text col-md-6 text-left col-xs-8 col-sm-8">
                    <!--<h4>Showing 1-40 of {{ deals.length }} Products</h4>-->
                </div>
                <div class="sortby-text form-group col-md-6 text-right col-xs-4 col-smpricerange-radio-4">
                    <span class="sortby-empty col-md-3" ></span>
                    <span class="sortby-text col-md-4" >Sort by :</span>
                    <span class="col-md-4" ng-init="sortBy = 'name'">
                        <select class="form-control" ng-model="sortBy">
                            <option value="name">Popular</option>
                            <option value="_updated">Recent</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pricerange-sidebar-main col-md-12">
            <div class="row row_mar">
                <div class="col-md-3 col-xs-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="font-bold">Price Range</h5>
                        </div>
                        <!--panel heading-->
                        <div class="panel-body">
                            <div class="check-box-filter-area">
                                <div class="checkbox" style="word-wrap: break-word; margin-top: 5px; line-height: 30px;" ng-repeat="item in priceRange">
                                    <label for="{{ item.range }}_filter" style="font-weight: 500;">
                                        <input id="{{ item.range }}_filter" type="checkbox"
                                               ng-model="filter.priceRange[item.range]" ng-change="applyFilter()" />
                                        <span id="span_price_range_{{ item.range }}" class="cr">
                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                        </span>
                                        <span>{{ item.text }}</span>
                                    </label>
                                </div> <!-- end check box -->
                            </div>
                        </div>
                        <!--end panel body-->
                    </div>
                    <!--end panel-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="font-bold">categories</h5>
                        </div>
                        <!--panel heading-->
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="icon-addon addon-sm" title="Search for categories">
                                    <input type="text" placeholder="Search" class="form-control input-sm"
                                           autocomplete="off" id="category_filter" ng-model="search[key]">
                                    <label for="category_filter" class="fa fa-search" rel="tooltip"></label>
                                </div>
                            </div>
                            <div class="check-box-filter-area">
                                <div class="checkbox" style="word-wrap: break-word; margin-top: 5px; line-height: 30px;"
                                     ng-repeat="item in categories | filter: search[key]">
                                    <label for="{{ item._id }}_categories_filter" style="font-weight: 500;">
                                        <input id="{{ item._id }}_categories_filter" type="checkbox"
                                               ng-model="filter.categories[item._id]" ng-change="applyFilter()" />
                                        <span id="span_category_{{ item._id }}" class="cr">
                                                <i class="cr-icon glyphicon glyphicon-ok"></i>
                                            </span>
                                        <span>{{ item.name }}</span>
                                    </label>
                                </div> <!-- end check box -->
                            </div>
                        </div>
                        <!--end panel body-->
                    </div>
                    <!--end panel-->
                </div>
                <div class="row col-md-9 col_md_9_pad col-xs-12 col-sm-12">
                    <div class="products-main col-md-12">
                        <div class="products-row-main">
                            <div class="products-list col-md-3" ng-repeat="item in filterDeals | orderBy: sortBy: true">
                                <div class="product-border-main">
                                    <div class="product-img">
                                        <img ng-src="{{ item.images[0] }}">
                                    </div>
                                    <div class="product-title text-center">
                                        <h4>{{ item.name }}</h4>
                                        <div class="product-stars">
                                            <div class="text-center" star-rating rating-value="item.rating" max="5"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h4 class="text-center">{{ item.discount_price }}</h4>
                                </div>
                                <div class="product-specifications">
                                    <ul>
                                        <li ng-repeat="(key, val) in item.dynamic_fields">{{ key }}: {{ val }}</li>
                                    </ul>
                                </div>
                                <div class="product-buynow">
                                    <button class="btn btn-success buynowbtn" value="Buy Now">Buy Now</button>
                                </div>
                            </div> <!-- end of product -->
                        </div>
                    </div>
                    <!-- footer description -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div ng-bind-html="trustAsHtml(deal.footer_description)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>