<link rel="stylesheet" href="static/app/customer-panel/modules/store/store.css" />
<div class="container top-container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="h3-heading">All Categories</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="order-list-alpha">
                <ul>
                    <li ng-repeat="(key, val) in categoryAlphabet" ng-class="{'opacity-5': !val.array.length}" ng-click="setSortkey(key, val)">
                        {{ key }}
                    </li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-popular-grids row_style"
         ng-class="{'space-between': categoryAlphabet[sorting.sorting].array.length > 6, 'flex-start': categoryAlphabet[sorting.sorting].array.length <= 6}">
        <a class="store-tile" ui-sref="main.categoryinfo({url: item.url})"
           ng-repeat="item in categoryAlphabet[sorting.sorting].array | orderBy: 'name'">
            <div class="thumbnail thumb" style="position: relative;">
                <img class="img-responsive" ng-src="{{ item.image }}" alt="">
            </div>
            <!-- end thumbnail -->
            <div class="well social-well">
                <h4 class="text-center" title="{{ item.name }}">
                    {{ item.name | limitTo: 8 }}{{ item.name.length > 8 ? '..' : ''}} ({{ item.related_coupons.length }})
                </h4>
            </div>
        </a>
        <div class="store-tile placeholder" ng-repeat="item in categoryAlphabet[sorting.sorting].array"></div>
        <div class="store-tile placeholder" ng-repeat="item in categoryAlphabet[sorting.sorting].array"></div>
        <div class="store-tile placeholder" ng-repeat="item in categoryAlphabet[sorting.sorting].array"></div>
    </div>
    <!-- end row -->
</div>