
<link rel="stylesheet" href="/static/app/admin-panel/modules/dashboard/dashboard.css" />

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label id="Select">Select Category</label>
                    <ui-select on-select="changeChart()" ng-model="select.category" theme="bootstrap">
                        <ui-select-match placeholder="Select Category">{{ $select.selected.text }}</ui-select-match>
                        <ui-select-choices repeat="item.code as item in types | orderBy: 'text' | filter: $select.search">
                            <div ng-bind-html="item.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label id="by">Select by</label>
                    <ui-select on-select="changeChart()" ng-model="select.by" theme="bootstrap">
                        <ui-select-match placeholder="Select by Month/Week">{{ $select.selected.text }}</ui-select-match>
                        <ui-select-choices repeat="item.code as item in menuTypes | filter: $select.search">
                            <div ng-bind-html="item.text | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <!-- custom dates -->
            <div class="col-lg-3 col-md-3 col-sm-3" ng-show="select.by == 'customdate'">
                <div class="form-group">
                    <label>From Date</label>
                    <input required type='text' id="from-date" data-date-format="MM/DD/YYYY" class="form-control dateInput" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" ng-show="select.by == 'customdate'">
                <div class="form-group">
                    <label>To Date</label>
                    <input onchange="getDate()" required type='text' id="to-date" data-date-format="MM/DD/YYYY" class="form-control dateInput" />
                </div>
            </div>
            <!-- end of custom dates -->
        </div> <!-- end row -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="bar-example"></div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->