<link rel="stylesheet" href="/static/app/admin-panel/modules/deal.brands/add.deal.brands/add.deal.brands.css" />

<div class="panel panel-default" style="margin-top: 90px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <h1 style="margin-top: 10px;">
                    Add Deal Brand
                </h1>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
    <div class="panel-body">
        <form ng-submit="addDealBrands(deal)">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="form-group">
                        <label for="deal_name">Name</label>
                        <input type="text" class="form-control input-sm" id="deal_name"
                               placeholder="Deal Name" ng-model="deal.name" required>
                    </div>
                    <div class="form-group">
                        <label for="url">Deal URL</label>
                        <input type="text" class="form-control input-sm" id="url"
                               placeholder="URL" ng-model="deal.url" required>
                    </div>
                    <div class="form-group">
                        <label for="deal_images">Image</label>
                        <input type="file" id="deal_images" ng-model="deal.image" base-sixty-four-input>
                        <div id="dealimage" class="image-multi"></div>
                        <p class="help-block">Select an Image from computer</p>
                    </div>
                    <div class="form-group" ng-if="deal.image.base64">
                        <label for="displayImage">Image Display</label>
                        <div class="thumbnail" id="displayImage">
                            <i class="fa fa-close" ng-click="deal.image = ''"></i>
                            <img ng-src="data:image/jpeg;base64,{{ deal.image.base64 }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="top_description">Top Description</label>
                        <textarea ng-click="textEditor($event)" rows="3" ng-model="deal.top_description" class="form-control input-sm" id="top_description"
                                  placeholder="Top Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="footer_description">Footer Description</label>
                        <textarea ng-click="textEditor($event)" ng-model="deal.footer_description" class="form-control input-sm" id="footer_description"
                                  placeholder="Footer Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deal_images">Alt Image</label>
                        <input type="file" id="alt_image" ng-model="deal.alt_image" base-sixty-four-input>
                    </div>
                    <div class="form-group" ng-if="deal.alt_image.base64">
                        <label for="alt_display_image">Image Display</label>
                        <div class="thumbnail" id="alt_display_image">
                            <i class="fa fa-close" ng-click="deal.alt_image = ''"></i>
                            <img ng-src="data:image/jpeg;base64,{{ deal.alt_image.base64 }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="h1">H1</label>
                        <input required type="text" class="form-control input-sm" id="h1" placeholder="H1"
                               ng-model="deal.h1">
                    </div>
                    <div class="form-group">
                        <label for="h2">H2</label>
                        <input required type="text" class="form-control input-sm" id="h2" placeholder="H2"
                               ng-model="deal.h2">
                    </div>
                    <div class="form-group">
                        <label for="seo_title">SEO Title</label>
                        <input type="text" class="form-control input-sm" id="seo_title" placeholder="SEO Title"
                               ng-model="deal.seo_title">
                    </div>
                    <div class="form-group">
                        <label for="seo_description">SEO Description</label>
                        <textarea ng-click="textEditor($event)" class="form-control input-sm" id="seo_description" placeholder="SEO Description"
                                  ng-model="deal.seo_description"></textarea>
                    </div>
                    <div class="form-group" ng-init="deal.status = true">
                        <label>Status</label> <br />
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="true" name="deal.status" data-ng-model="deal.status">Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" data-ng-value="false" name="deal.status" data-ng-model="deal.status">Pending
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input required type="number" class="form-control" ng-model="deal.rating" placeholder="Rating" id="rating">
                    </div>
                    <div class="form-group">
                        <label>Related Brands</label>
                        <ui-select multiple ng-model="deal.related_brands" theme="bootstrap" close-on-select="false"
                                   title="Related Brands">
                            <ui-select-match placeholder="Related Brands">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item._id as item in brands | propsFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <pre>{{ deal.related_brands }}</pre>
                    <div class="form-group">
                        <label>Last Modified By</label>
                        <ui-select ng-model="selected_user.user" theme="bootstrap">
                            <ui-select-match placeholder="Select modified user">{{ $select.selected.email }}</ui-select-match>
                            <ui-select-choices repeat="person._id as person in persons | filter: $select.search">
                                <small>
                                    <span ng-bind-html="''+person.first_name | highlight: $select.search"></span>
                                    <span ng-bind-html="''+person.last_name | highlight: $select.search"></span>
                                </small>
                                <div ng-bind-html="person.email | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            <button type="submit" class="btn btn-info btn-md">Add deal Brand</button>
        </form>
        <br><br><br><br><br><br>
    </div> <!-- end panel-body -->
</div>