<link rel="stylesheet" href="static/app/customer-panel/modules/deal.category.page/deal.category.page.css"/>
<link rel="stylesheet" href="static/bower_components/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="static/app/customer-panel/modules/deal.details/deal.details.directive.css">

<div class="container main-row top-container">
    <!-- deal category information -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumb deal-cat-left">
                    <div class="thumbnail store-logo">
                        <img ng-src="{{ deal.image }}" alt="{{ deal.name }}" title="{{ deal.name }}">
                    </div> <!-- end thumbnail -->
                    <p class="text-center rating-stars">
                        <div class="text-center" star-rating rating-value="deal.rating" max="5"></div>
                    </p>
                    <p class="text-center">
                        {{ deal.rating }}/5 Based on {{ deal.voting }} Votes
                    </p>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9 col-xs-12 store-info">
                    <div style="width: 100%; min-height: 20px;">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/">Home</a></li>
                            <li><a ui-sref="main.category">Categories</a></li>
                            <li ng-repeat="item in deal.breadcrumb">
                                <a ui-sref="main.categoryinfo({url: item.url})">{{ deal.name }}</a>
                            </li>
                            <li class="active">{{ deal.name }}</li>
                        </ol>
                    </div> <!-- end div -->
                    <h3 class="margin-top-0 h3-heading">{{ deal.name }}</h3>
                    <p ng-click="show = !show" class="para_small top-desc"
                       ng-class="{'show-desc': show}" data-ng-bind-html="trustAsHtml(deal.top_description)"></p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end panel body -->
    </div> <!-- end panel -->
    <!-- end of deal category information -->

    <h3 class="h3-heading">Other Categories You May Like</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 cat-area">
            <div class="deal-tile cat-tile panel" ng-repeat="item in deal.related_categories">
                <!-- Right-aligned -->
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a ui-sref="main.deal_category_page({url: item.url})">{{ item.name }}</a>
                        </h4>
                    </div>
                    <div class="media-right image-block deal-tile">
                        <img ng-src="{{ item.image }}" class="media-object media-image">
                    </div>
                </div>
                <h5>
                    <a ui-sref="main.deal_category_page({url: item.url})">
                        See All {{ item.name }} Price list
                    </a>
                </h5>
            </div>
        </div>
    </div>
    <!-- End of deal related categories -->

    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="font-bold">Price Range</h5>
                </div>
                <!--panel heading-->
                <div class="panel-body">
                    <div class="check-box-filter-area">
                        <div class="checkbox" style="word-wrap: break-word;" ng-repeat="item in priceRange">
                            <label for="{{ item.range }}_filter" style="font-weight: 500;">
                                <input id="{{ item.range }}_filter" type="checkbox"
                                       ng-model="filter.priceRange[item.range]" ng-change="applyFilter()" />
                                <span id="span_price_range_{{ item.range }}" class="cr">
                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                        </span>
                                <span>{{ item.text }}</span>
                            </label>
                        </div> <!-- end check box -->
                    </div>
                </div>
                <!--end panel body-->
            </div>
            <!--end panel-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="font-bold">Categories</h5>
                </div>
                <!--panel heading-->
                <div class="panel-body">
                    <div class="form-group">
                        <div class="icon-addon addon-sm" title="Search for categories">
                            <input type="text" placeholder="Search" class="form-control input-sm"
                                   autocomplete="off" id="category_filter" ng-model="search[key]">
                            <label for="category_filter" class="fa fa-search" rel="tooltip"></label>
                        </div>
                    </div>
                    <div class="check-box-filter-area scroll">
                        <div class="checkbox" style="word-wrap: break-word;"
                             ng-repeat="item in categories | filter: search[key]">
                            <label for="{{ item._id }}_categories_filter" style="font-weight: 500;">
                                <input id="{{ item._id }}_categories_filter" type="checkbox"
                                       ng-model="filter.categories[item._id]" ng-change="applyFilter()" />
                                <span id="span_category_{{ item._id }}" class="cr">
                                                <i class="cr-icon glyphicon glyphicon-ok"></i>
                                            </span>
                                <span>{{ item.name }}</span>
                            </label>
                        </div> <!-- end check box -->
                    </div>
                </div>
                <!--end panel body-->
            </div>
            <!--end panel-->
        </div>
        <div class="col-md-9 col_md_9_pad col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 class="h3-heading">Deals under {{ deal.name }}</h3>
                </div>
            </div> <!-- end row -->
            <deal-tile-directive class-name="col-lg-4 col-md-4 col-sm-12" items="filterDeals"></deal-tile-directive>
            <!-- footer description -->
            <div class="row">
                <div class="col-lg-12">
                    <div ng-bind-html="trustAsHtml(deal.footer_description)"></div>
                </div>
            </div>
        </div>
    </div>
</div>