@media only screen and (max-device-width: 720px) {
    div.repeat-brands {
        background: #fff;
        padding: 15px;
        overflow-x: scroll;
        width: 100%;
        display: inline-block;
        align-items: center;
        white-space: nowrap;
        justify-content: flex-start;
    }
    .repeat-brands .repeat-brands-item {
        height: 50px;
        width: 95px;
        display: inline-flex;
        border-right: 1px solid #ddd;
        align-items: center;
        justify-content: center;
        padding-right: 5px;
        margin-right: 5px;
    }
    .repeat-brands-item img {
        max-height: 100% !important;
        max-width: 100% !important;
    }
    .pad-5 {
        padding: 0 15px !important;
    }
    .only-desktop {
        display: none !important;
    }
    .footer-desc img {
        width: auto;
        max-width: 100%;
    }
}
.main_content{
    background: #ffffff;
}
.price_txt{
    font-weight: bold;
    text-align: center;
}
.other-brands-may-like, .other-brands-may-like div, .repeat-brands-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.other-brands-may-like div {
    width: 100%;
    margin-top: 10px;
}
.repeat-brands {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.breadcrumb-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repeat-brands-item{
    height: 60px;
    width: 150px;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}
.repeat-brands-item:last-child {
    border-right: none !important;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-0 {
    margin: 0;
}

.other-brands-row {
    margin: 3px 0;
    padding-top: 5px;
    border-top: 1px solid #DDDDDD;
}
.top-info-desc {
    height: 90px !important;
}
.you-may-like {
    font-weight: 400;
}
.store-logo {
    border-style: solid;
    border-color: #DDD;
    border-width: 0 0 1px 0;
}
.cat-area {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.cat-tile {
    width: 24.3%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    height: 120px;
    background: #fff;
}
.deal-section {
    padding-left: 5px;
}
.deal-tile {
    /*border-color: #fff;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.media-image {
    width: 60px;
    height: 35px;
}
.image-block {
    width: 70px;
    height: 45px;
    border: 1px solid #ddd;
    padding: 5px;
}
.border_around{
    border: 1px solid #DDDDDD;
}
.border_around_last{ border-top:1px solid #eee; }
.para1{ font-size: 12px; }
.set_position{
    margin-top: 10px; padding-left: 0;
}
.deal-cat-left {
    border-right: 1px solid #DDDDDD;
}
.pad-0 {
    padding: 0;
}
.pad_left{ padding-left: 0; }
.row_pad{padding: 2%;}
.row_mar{ margin: 0 -3px; }
.media_pad{ padding-top: 11%; font-weight: bold; }
.best_sell_txt{ font-weight: bold; }
.row_best{ margin-bottom: 2px; border-top: 1px solid #eee;padding:4px 0%; }
.row_best_1{ margin-bottom: 2px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;padding:4px 0%; }
.store-thumbnail img {
    max-height: 120px;
    min-height: 120px;
    width: 100%;
}
.about_raja{ border-bottom: 1px solid #eeeeee; font-weight: bold; padding-bottom: 1%; }
.row_bot_pad{
    padding-bottom: 2%
}