.main_content{
    background: #ffffff;
}
.price_txt{
    font-weight: bold;
    text-align: center;
}
.border_around{
    border: 1px solid #DDDDDD;
}
.border_around_last{ border-top:1px solid #eee; }
.para1{ font-size: 12px; }
.set_position{
    margin-top: 10px; padding-left: 0;
}
.thumbnail {
    border: 0 solid #FFFFFF;
}
.pad-0 {
    padding: 0;
}
.pad_left{ padding-left: 0; }
.row_pad{padding: 2%;}
.row_mar{ margin: 0 -3px; }
.media_pad{ padding-top: 11%; font-weight: bold; }
.best_sell_txt{ font-weight: bold; }
.row_best{ margin-bottom: 2px; border-top: 1px solid #eee;padding:4px 0%; }
.row_best_1{ margin-bottom: 2px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;padding:4px 0%; }
.store-thumbnail img {
    max-height: 120px;
    min-height: 120px;
    width: 100%;
}
.about_raja{ border-bottom: 1px solid #eeeeee; font-weight: bold; padding-bottom: 1%; }
.row_bot_pad{
    padding-bottom: 2%
}