<div class="{{ nClass }} blog-tile" ng-repeat="item in items | orderBy: '_updated': true">
    <img ng-src="{{ item.image }}" alt="" class="img-responsive">
    <div class="cont_1">
        <p class="technoloy_txt">
            <span ng-repeat="i in item.related_categories | orderBy: 'name'">
                <a ui-sref="blogs.category({url: i.url})">{{ i.name }}</a>
                {{$last ? '' : ($index == item.related_categories.length-2) ? ' and ' : ', '}}
            </span>
        </p>
        <h3 class="h3-heading">
            <a ui-sref="blogs.details({url: item.url})">{{ item.title }}</a>
        </h3>
        <p class="week_txt">
            {{ item._created | date: 'dd MMM yyyy' }}
        </p>
        <p>
            <a ui-sref="blogs.details({url: item.url})" class="btn btn-primary btn-md read-more">Read More</a>
        </p>
    </div>
</div>