<link rel="stylesheet" href="static/app/customer-panel/modules/header/header.css" />

<div id="flipkart-navbar">
    <div class="container">
        <div class="row row2">
            <div class="col-sm-6">
                <div class="row fab_code_coupns">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <h1 style="margin:0px;"><span class="largenav fab_code_coupns">
                            <a ui-sref="main.home">
                                <img src="static/app/customer-panel/modules/assets/images/logo-png.png" alt="" class="img-responsive">
                            </a>
                        </span></h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <a class="header-nav-content" ui-sref="main.home">Coupons</a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <a class="header-nav-content" ui-sref="main.all_deals">Deals</a>
                    </div>
                </div>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-4 col-xs-12 pad-0 hidden-xs">
                <div class="row">
                    <div class="col-lg-12">
                        <input ng-keyup="searchQuery(customPopupSelected)" type="text" ng-model="customPopupSelected"
                               placeholder="Search Stores/Coupons"
                               uib-typeahead="state as state.name for state in getItems($viewValue)"
                               typeahead-popup-template-url="static/app/customer-panel/modules/header/typeahead.template.html"
                               class="flipkart-navbar-input col-xs-9" typeahead-on-select="goStore($item, $model, $label)">
                        <button class="search-navbar-button col-xs-2">
                            <span class="on-desktop">Search</span>
                            <span class="on-mobile">
                                <i class="fa fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart col-sm-2 on-desktop">
                <a ui-sref="main.login" class="cart-button">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container pad-0">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header headerbar_pad">
            <div class="row">
                <div class="navbar-brand hidden-md hidden-lg col-xs-10">
                    <div class="flipkart-navbar-search col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 search_bar pad-right-0">
                                <input type="text" ng-model="customPopupSelected"
                                       placeholder="Search Stores/Coupons"
                                       uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}"
                                       typeahead-popup-template-url="static/app/customer-panel/modules/header/typeahead.template.html"
                                       class="flipkart-navbar-input col-xs-9"/>
                                <button class="search-navbar-button col-xs-2">
                                    <span class="on-desktop">Search</span>
                                    <span class="on-mobile">
                                            <i class="fa fa-search"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle top_stories" data-toggle="dropdown">
                        Top Stores <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu top-store-ul">
                        <div class="row">
                            <div class="col-lg-4" ng-if="item.menu == 'top'" ng-repeat="item in featuredStores | limitTo: 15">
                                <li><a ui-sref="main.store-info({url: item.url})">{{ item.name }}</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li><a href="#">Recharge Offers</a></li>
                <li><a href="#">Food Offers</a></li>
                <li><a href="#">Travel Offers</a></li>
                <li><a href="#">Fashion Offers</a></li>
                <li><a href="#">Bank Offers</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Exchange Offers <b class="caret"></b></a>
                    <ul class="dropdown-menu top-store-ul">
                        <div class="row">
                            <div class="col-lg-4">
                                <li><a href="">Mobile Exchange Offers</a></li>
                            </div>
                            <div class="col-lg-4">
                                <li><a href="">TV Exchange Offers</a></li>
                            </div>
                            <div class="col-lg-4">
                                <li><a href="">Laptop Exchange Offers</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Submit Coupon</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<ui-view></ui-view>