.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.panel-body h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    max-height: 400px;
    height: 400px;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-control span {
    position: absolute;
    top: 35%;
    font-size: 70px;
}

a.left span {
    left: 6%;
}

a.right span {
    right: 18%;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.store-thumbnail {
    border: 1px solid #ddd;
}

.store-thumbnail a img,
.store-thumbnail img {
    width: 120px;
    height: 60px;
}

.store-thumbnail h5 {
    color: #555;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.carousel {
    height: 400px;
    width: 100%;
}

.side-banner img {
    margin-bottom: 5px;
}

.panel-heading {
    background-color: #fff !important;
    border-bottom: 0px solid #FFF !important;
}

.panel-footer {
    border-top: 1px solid #FFF;
    background-color: #FFF;
    padding: 0 15px;
}

.panel-footer a {
    line-height: 40px;
}

h5 {
    font-family: Dosis-Medium;
}

.top-deal-img {
    max-height: 150px;
}

ul.unstyled {
    padding-left: 5px;
}

ul.unstyled li {
    list-style-type: none;
    margin-bottom: 25px;
}

ul.unstyled li a {
    color: #11A7B9;
}
/*update-nag start*/
.update-nag{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    background-color: #fff;
    height: 40px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
    width:100%;
}
.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
    background: #337ab7;
    width: 33px;
    float: left;
    color: #fff!important;
    height: 100%;
    text-align: center;
}

.update-nag > .update-split > .glyphicon{
    position:relative;
    top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
    background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
    background: #d9534f!important;
}

.update-nag > .update-split.update-info{
    background: #5bc0de!important;
}



.update-nag > .update-text{
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
}
.gly{
    font-size: 12px;
    padding-right: 5%;
}
/*update-nag end*/


/*  --============== // media queries for mobiles ===========----- */

@media screen and (max-width: 768px) {
    .category-wise-home h2 {
        font-size: 23px;
        line-height: 34px;
    }
    .carousel-indicators {
        text-align: center;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: 100%;
        max-height: 200px;
        height: 200px;
    }
    .carousel {
        height: 200px;
        width: 100%;
    }
    .header-nav-content {
        color: #fff !important;
        font-size: 16px;
        line-height: 0px;
        margin-left: -5px;
    }
    .btn_mobile{
        padding: 0;
    }
    .txt_small{
        font-size: 14px;
    }
    h3{
        font-size: 20px;
        margin-top: 8px;
        font-weight: bold;
    }
    .carousel-control span {
        font-size: 40px;
    }
    .carousel-indicators .active {
        margin: 0;
        width: 6px;
        height: 6px;
        background-color: #ffffff;
    }
    .carousel-indicators li {
        width: 5px;
        height: 5px;
    }
    .carousel-control{
        left:6px;
        opacity: 1;
    }
    .carousel-control.right {
        right: 12px;
    }
    .gly{
        font-size: 10px;
        padding-right: 5%;
    }
    .rupee{
        font-size: 16px;
        padding: 8% 0% 0%;
    }
    .update-nag {
        font-size: 16px;
        height: 50px;
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.2);
        box-shadow: 0 0 0 0 rgba(0,0,0,.1);
        margin-bottom: 20px;
        border: 1px solid #DDDDDD;
    }
    .panel_deft{
        border:none;
        box-shadow:none;
        background: none;
    }
    .panel_deft .panel-body {
        padding: 15px 0;
    }
    .update-nag > .update-text {
        line-height: 26px;
    }
}
