body {
    background-color: #f3f3f3;
    font-family: "Open Sans", Arial, sans-serif !important;
    margin: 0 auto !important;
    overflow-x: hidden;
}
.top-desc {
    height: 40px;
    line-height: 18px;
    cursor: pointer;
    overflow: hidden;
    color: #999;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 13px;
    text-align: justify;
}
.h3-heading {
    margin-bottom: 10px;
    color: #151313;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}
.media-heading a {
    color: #151313;
}
.top-desc:hover {
    color: #060505;
}
.show-desc {
    overflow: visible;
    height: auto !important;
}
.deal-tile {
    /*border-color: #FFFFFF;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.deal-tile .panel-body {
    transition: .3s all;
}
.deal-tile:hover {
    -webkit-box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
}
deal-tile-directive {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.deal-directive-tile {
    width: 250px;
    height: auto;
    margin: 10px;
}
.products-list{
    border: 1px solid #eee;
    padding: 0;
}
.product-border-main {
    height: 160px;
    width: 95%;
    padding-top: 10px;
    margin: 0 auto;
}
.deal-directive-tile a.btn {
    font-size: 15px;
}
.product-border-main a {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-price {
    padding: 10px;
}
.product-border-main img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.deal-title, .deal-title:hover, .deal-tile a {
    text-decoration: none;
    text-transform: capitalize;
}
.deal-title {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    height: 50px;
    display: block;
}
.deal-title:hover {
    color: #165ba8;
}
.disc-price {
    margin: 0;
    color: #000;
}
strike {
    color: #666666;
}
ol > li > a {
    color: #2780e3;
}
.rel-stores {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.rel-stores a {
    width: 110px;
    display: block;
    margin: 5px;
    padding: 2px;
}
.rel-stores a img {
    width: inherit;
    height: 50px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid rgba(128,128,128,.31);
}
.coupon-footer {
    line-height: 35px;
    padding: 0 0 0 15px;
    cursor: pointer;
}
.panel-footer .row {
    display: flex;
    align-items: center;
}
.show_copan_code {
    font-weight: bold;
    line-height: 20px;
}
.show_copan_code i.fa-arrow-right {
    padding-top: 4px;
}
.h3-side-heading {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bottom-5 {
    padding-bottom: 5px;
}
.top-container {
    margin-top: 115px;
}
.coupon-well {
    border: 1px solid #DDDDDD;
    padding: 15px;
    max-height: 230px;
    min-height: 230px;
}
.coupon-well .thumbnail img {
    height: 45px;
}
.coupon-well p {
    margin: 5px 0;
}
.bottom-more {
    border: 1px solid #DDDDDD;
    padding: 10px 0;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.bottom-more .col-lg-2 {
    width: 12.66667%;
}
.popup-more-info-title {
    color: #000;
    font-weight: 400;
    font-size: 14px;
}
.popup-coupon-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 5px 0;
}
.popup-btn {
    height: 44px;
    min-width: 120px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.popup-coupon-heading .popup-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    float: left;
}
.popup-coupon-heading .popup-heading .store-logo {
    border: 1px solid #DDDDDD;
    width: 150px;
    margin: 0 !important;
}
.popup-coupon-heading .popup-heading .modal-title {
    margin-left: 20px;
}
.breadcrumb {
    padding: 0 15px;
    margin-bottom: 0 !important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0;
    font-size: 13px;
}
.goToTop {
    position: fixed;
    display: none;
    font-weight: 700;
    background-color: rgb(115, 115, 115);
    width: 50px;
    height: 45px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: pointer;
    margin: 10px;
    padding: 15px 20px;
}
h2,
h3,
h4 {
    font-family: "Open Sans", Arial, sans-serif !important;
    text-transform: capitalize;
}

.margin-20 {
    margin: 20px 0;
}

.margin-top-0 {
    margin-top: 0;
}
.pad-0 {
    padding: 0;
}

.pad-left-0 {
    padding-left: 0;
}
.pad-left-5 {
    padding-left: 5px;
}

.pad-right-0 {
    padding-right: 0;
}
.font-bold {
    font-weight: bold;
}

.icon-addon {
    position: relative;
}
.panel-footer .gly {
    color: green;
    font-size: 13px;
}
.icon-addon label {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #a09f9f;
}

.breadcrumb {
    background-color: inherit !important;
}

.border-0 {
    border: 0px solid #FFFFFF;
}

.social-icons a{
    min-width: 45%;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 3px;
}
.social-icons a:hover, a {
    text-decoration: none;
}
.social-icons a i {
    min-width: 15px;
}
.store-logo {
    max-height: 100px;
    width: 70%;
    text-align: center;
    margin: 0 auto!important;
    padding-bottom: 15px;
}
.store-logo img {
    max-width: 100%;
    height: 100%;
    max-height: 80px;
}
.top-store-ul {
    display: none;
}
.heading-content-panel {
    border-color: #FFFFFF;
}
.heading-content-panel .panel-body {
    padding-bottom: 0;
}
.show-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
.show-description .show {
    background-color: #FFFFFF;
    height: 96%;
    padding: 15px;
    z-index: 99999;
    overflow-y: scroll;
}
.show-description .show * {
    color: #333333;
    opacity: 1;
}
.btn-group .btn+.btn {
    width: 200px;
}
.form-group input[type="radio"] {
    display: none;
}

.form-group input[type="radio"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="radio"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="radio"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="radio"]:checked + .btn-group > label span:last-child {
    display: none;
}
.pad-5 {
    padding: 0 5px;
}
/* for styled checkboxes and radio buttons */

.checkbox label,
.radio label {
    padding-left: 0 !important;
    min-height: 25px !important;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .7em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(2) rotateZ(-10deg);
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .3;
}


/* enf of styled checkboxes and radio buttons */

.comment-row {
    padding: 15px;
    border-top: 1px solid #DDDDDD;
}
/* check-box-filter-area */

/* ----- scroll area ------ */
.scroll {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
    width: 4px;
}

.scroll::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 20px;
}
/* ------ end of scroll area ---------- */
/* /check-box-filter-area */


/* adding fade to body */


/* adding fade to body */


/* ---- spinner ---- */

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #7e70a1;
    position: absolute;
    margin: 0 auto;
    left: 48%;
    top: 50%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/* ---- spinner ---- */

.on-mobile {
    display: none;
}

/* rating directive module css */
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-flex;
    padding: 4px 1px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}
.rating .filled {
    color: #FFC315;
}
.clear{
    margin-top:20px;
}
/* rating module css */