body {
    background-color: #f3f3f3;
    font-family: "Open Sans",Arial,sans-serif;
    margin: 0 auto !important;
    overflow-x: hidden;
}
.top-desc {
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    color: rgb(102, 102, 102);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12.8px;
    text-align: justify;
}
.show-desc {
    overflow: visible;
    height: auto;
}
.deal-tile {
    border-color: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.deal-tile .panel-body {
    transition: .3s all;
}
.deal-tile:hover {
    -webkit-box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 23px 0 rgba(0,0,0,.2);
}
ol > li > a {
    color: #2780e3;
}
.rel-stores {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.rel-stores a {
    border: 1px solid rgba(128,128,128,0.31);
    width: 110px;
    display: flex;
    height: 55px;
    align-items: center;
    margin: 5px;
    padding: 2px;
}
.rel-stores a img {
    width: 104px;
    height: 50px;
}
.coupon-footer {
    line-height: 35px;
    padding: 0 0 0 15px;
    cursor: pointer;
}
.show_copan_code {
    font-weight: bold;
}
.top-container {
    margin-top: 40px;
}
.breadcrumb {
    padding: 0 15px;
    margin-bottom: 0 !important;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0;
    font-size: 13px;
}
.goToTop {
    position: fixed;
    display: none;
    font-weight: bold;
    background-color: red;
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #FFF;
    border-radius: 2px;
    bottom: 0;
    right: 0;
    z-index: 100000;
    cursor: pointer;
    margin: 10px;
}
h2,
h3,
h4 {
    font-family: "Open Sans",Arial,sans-serif;
    text-transform: capitalize;
}

.margin-20 {
    margin: 20px 0;
}

.margin-top-0 {
    margin-top: 0;
}
.pad-0 {
    padding: 0;
}

.pad-left-0 {
    padding-left: 0;
}

.pad-right-0 {
    padding-right: 0;
}
.font-bold {
    font-weight: bold;
}

.icon-addon {
    position: relative;
}
.panel-footer .gly {
    color: green;
    font-size: 13px;
}
.icon-addon label {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #a09f9f;
}

.breadcrumb {
    background-color: inherit !important;
}

.border-0 {
    border: 0px solid #FFFFFF;
}

.social-icons a{
    min-width: 45%;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 3px;
}
.social-icons a:hover, a {
    text-decoration: none;
}
.social-icons a i {
    min-width: 15px;
}
.store-logo {
    max-height: 100px;
    width: 70%;
    text-align: center;
    margin: 0 auto!important;
    padding-bottom: 15px;
}
.store-logo img {
    max-width: 100%;
    height: 100%;
    max-height: 80px;
}
.top-store-ul {
    display: none;
}
.heading-content-panel {
    border-color: #FFFFFF;
}
.heading-content-panel .panel-body {
    padding-bottom: 0;
}
.show-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
.show-description .show {
    background-color: #FFFFFF;
    height: 96%;
    padding: 15px;
    z-index: 99999;
    overflow-y: scroll;
}
.show-description .show * {
    color: #333333;
    opacity: 1;
}
.btn-group .btn+.btn {
    width: 200px;
}
.form-group input[type="radio"] {
    display: none;
}

.form-group input[type="radio"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="radio"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="radio"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="radio"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="radio"]:checked + .btn-group > label span:last-child {
    display: none;
}
/* for styled checkboxes and radio buttons */

.checkbox label,
.radio label {
    padding-left: 0 !important;
    min-height: 25px !important;
    line-height: 20px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .7em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(2) rotateZ(-10deg);
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .3;
}


/* enf of styled checkboxes and radio buttons */

.comment-row {
    padding: 15px;
    border-top: 1px solid #DDDDDD;
}
/* check-box-filter-area */

.check-box-filter-area {
    max-height: 200px;
    overflow: hidden;
}

.check-box-filter-area:hover {
    overflow-x: hidden;
    overflow-y: scroll;
}


/* /check-box-filter-area */


/* adding fade to body */


/* adding fade to body */


/* ---- spinner ---- */

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #7e70a1;
    position: absolute;
    margin: 0 auto;
    left: 48%;
    top: 50%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/* ---- spinner ---- */

.on-mobile {
    display: none;
}

/* rating directive module css */
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.rating .filled {
    color: orangered;
}
.clear{
    margin-top:20px;
}

/* rating module css */